[2015-03-03 05:16] phobologic opened #3 "Need the ability to delete() the stacks"
stacker should figure out how to delete things in order, based on dependencies.

[2015-03-03 05:17] phobologic opened #4 "preview mode"
It'd be good to have a mode where stacker figures out what would change and lets you know.

[2015-03-03 05:17] phobologic opened #5 "Command line & config need cleanup"
There's a lot of duplication, and honestly it's gotten a little away from me.

[2015-03-03 05:18] phobologic opened #6 "DNS Stuff"
Should automatically setup a subdomain for the user when it is used, and hopefully add things to that domain.

Will likely need a DNS service that updates Route53 based on hosts coming up.  Maybe tie that to etcd for incrementing names?

[2015-03-03 05:19] phobologic opened #7 "user-data in empire stacks is horrible"
Need a better way to do this - especially because of credentials being shared in the stack.

[2015-03-03 23:58] #7 closed, assigned to nobody

[2015-03-05 00:36] phobologic opened #8 "Need to handle ROLLBACK messages better"
While rolling out an RDS stack had an issue - it rolled back, but it totally crashed the builder:

[code]

[2015-03-12 16:46] phobologic commented on #6
Ok, this was me forgetting I'd already done this work.  Easiest. Issue. Ever.

[2015-03-12 16:46] #6 closed

[2015-03-12 16:51] phobologic commented on #5
I think this is pretty much done - I've allowed for the CLI to specify Parameters, and we no longer have generic config & parameters, it's all been combined.

[2015-03-12 16:51] #5 closed

[2015-03-12 17:12] phobologic opened #10 "Add ability to introspect templates from the CLI"
For example, it'd be good if you could get a list of expected Parameters & Outputs for a given stack, like VPC.

[2015-03-12 17:13] phobologic opened #11 "Check all required Parameters"
Stacker should be able to verify that all necessary Parameters are provided before attempting to launch any stacks.

[2015-03-12 17:14] phobologic opened #12 "Launch/modify subset of stacks"
Right now you can modify the config, but that's messy.  It'd be cool if you could specify a list of stacks in the config to modify.

[2015-03-15 02:01] #12 closed

[2015-03-18 22:15] phobologic opened #15 "If a stack already exists, and a parameter isn't provided on an update, pull from existing parameters"
CloudFormation's webui already does this for you, and it's convenient and helps prevent accidentally changing a parameter that you don't want to update.

Maybe make it so you have to provide an additional flag to actually change a parameter on an update?  That may be a bit extreme and annoying.

[2015-03-29 22:28] phobologic opened #17 "Non-us-east stacks have issue w/ create_bucket"
http://boto.readthedocs.org/en/latest/ref/s3.html#boto.s3.connection.S3Connection.create_bucket

Basically anything that's not in us-east-1 needs to have Location set to the appropriate region.

[2015-03-31 17:16] #11 closed

[2015-03-31 17:16] #15 closed

[2015-03-31 20:08] phobologic opened #21 "Allow multiple configs?"
An idea - maybe allow multiple configs, so you can have your 'general config' and then more specific overrides for environments, etc.

[2015-03-31 20:09] phobologic opened #22 "Allow specifying stack name for parameters on the command line"
Make it so --parameter <stack_name>::<parameter_name> applies that parameter only to that stack.  Right now they are global.

[2015-04-02 16:31] #17 closed

[2015-05-19 18:48] #22 closed

[2015-05-19 18:49] phobologic commented on #21
I think this is basically covered by the new environments system.  Closing for now.

[2015-05-19 18:49] #21 closed

[2015-05-20 17:21] mhahn opened #33 "Use default region for s3"
If you switch regions but use the same namespace, you'll get conflicts.

[2015-05-20 18:53] mhahn commented on #33
should we just create a "s3_conn" property similar to "conn" that uses the default ConnectionManager?

[2015-05-20 18:56] phobologic commented on #33
Honestly the only time the s3connection is used is when you setup cfn_bucket, so we can probably just create the connection in there (boto.connect_s3) and use it right away.  After that it's not really useful, as we use cfn_bucket directly, which is a boto.s3.Bucket object, which has all the connection info it needs.

I should probably strip out aws_helper entirely at this point, it's not super us

[2015-05-20 18:57] mhahn commented on #33
yea i looked at the library and it didn't look like it was doing a whole lot

[2015-06-30 20:14] phobologic opened #37 "Combine namespace & environment"
Right now the namespace & environment seem excessive together.  Spoke with a few people about this and the current proposal is to combine them - basically do away with the namespace on the command line, and instead require an environment file with each run.  In the environment file, the minimum contents would be something like:

[code]

[2015-06-30 20:16] phobologic commented on #37
New command would effectively be:

`stacker -r us-east-1 -e conf/stage.env conf/example.yaml`

Seems like getting rid of -e would be nice, since it's required, but not sure if that'd make the CLI more confusing.

[2015-07-20 23:25] phobologic opened #41 "RFC: blueprint acquisition system"
Right now it's kind of annoying to use third party blueprints in stacker - you have to get them (git pull), then install them in your python path (python setup.py install), only then can you use them.

I'm trying to think of a better way to do this, so opening this up for discussion from 'the community' :)

[2015-07-20 23:28] phobologic commented on #41
One idea is to do something like golang's import system:

[code]

Then make it so that stacker pulls that file down (ending with .py, the CoolBlueprint part is the class), puts it in a temp directory, then adds that temp directory to your python path while it tries to import the blueprints.

[2015-07-20 23:45] mhahn commented on #41
i vote for:

- current working directory gets appended to sys.path so you can access local blueprints
- i agree with something like the above, although i would maybe push for something similar to a Gemfile:

[code]

i think that gives you more control than just having something like "blueprint: github.com/phobologic/myblueprints/myblueprints/cool_blueprint.CoolBlueprint" or "blueprint: stacker.blu

[2015-07-21 00:45] phobologic opened #42 "VPC blueprint adds BaseDomain (external) before InternalDomain to search path"
This seems like it'd almost always be wrong:

https://github.com/remind101/stacker/blob/master/stacker/blueprints/vpc.py#L127

Should change the ordering of them.

[2015-07-26 22:13] phobologic opened #44 "update_stack does not modify tags"
https://github.com/boto/boto/issues/2032

Looks like this isn't even possible in the Cloudformation API, which is frustrating. It basically means that we can't trust the tags of a stack - and certainly can't rely on them for anything.

Fortunately we don't currently rely on the tags for anything, but it was planned to use the dependent stack tag when writing code to destroy stacks.  Frustrating.

[2015-07-27 17:51] brianz opened #45 "VPC creation error when creating a stack in us-west-2"
I used the standard `conf/empire/empire.yaml` file and launched a stack with the following command:

[code]

The VPC failed to create with the following error:

[code]

[2015-07-27 17:52] phobologic commented on #45
This is likely due to us-west-2 not having 3 VPC-able Availability Zones.  Maybe using all 4 is too aggressive - I wish Amazon gave a better API for this kind of stuff.

Thanks!

[2015-07-29 22:09] brianz opened #48 "Empire stack - Authentication to docker hub fails when $ is present in password"
If you have a `$` in your password, the auth token generated for `/etc/empire/dockercfg` is incorrect.  This was verified by doing:

[code]

...and noting that the auth token is different than one which is known to be good.

Escaping the `$` produces the correct token:

[code]

[2015-07-31 22:17] mhahn opened #52 "inconsistent postgres names"
https://github.com/remind101/stacker/blob/master/stacker/blueprints/postgres.py#L9
https://github.com/remind101/stacker/blob/master/stacker/blueprints/postgres.py#L11

create something like:

PostgresRDSapiRdsDb
RdsSGapiRdsDb

the name should always go in the front to stay consistent with other camel cased names.

[2015-07-31 22:17] mhahn commented on #52
i don't think this is going to be a backwards compatible change

[2015-07-31 23:37] mhahn opened #53 "Changing the name of an output doesn't update the stack"
If I change the name of an output, it won't get updated until I change something else with the template.

Is this an issue with CloudFormation?

ie.

if I change an output from "EmpireControllerSG" to "EmpireControllerSecurityGroup" (because being explicit is always better ;)) and run build, stacker will skip updating that stack because it says nothing has changed and then the renamed variable won

[2015-08-01 00:13] mhahn commented on #52
this is one reason I would push for these blueprint constants being properties of the class. if i wanted to customize these names, i could easily subclass the blueprint and change them to whatever i wanted.

[2015-08-03 18:14] berndtj opened #54 "AWS throttling API responses should be retried"
Stacker exits upon hitting an AWS throttling response.  I would expect the request to be retried (perhaps after a brief back-off):

[code]

[2015-08-06 03:29] phobologic opened #55 "README.rst needs new subcommand syntax"
@mhahn - not sure if you already have this in another of your PRs?

[2015-08-06 14:38] mhahn commented on #55
https://github.com/remind101/stacker/pull/46/

adds better docstrings. i have PRs for destroy etc. I'll start submitting those and then I'll update the README

[2015-08-06 17:58] phobologic opened #58 "blueprint versioning"
Blueprints change rather often - there are two major ways they change that we should care about:

- the resources the blueprint produces change
- the blueprint class itself somehow changes, like if we add/remove arguments in __init__

In case 1 it'd be good to make sure that if there is a potentially dangerous change that would require the destruction of resources that we let people know that.

In

[2015-08-09 18:17] phobologic commented on #54
So this is a little annoying, since boto actually handles throttling internally - provided all the APIs were consistent and returned a 50X (I think it's 503), but for some reason it looks like CloudFormation uses a 400.

[2015-08-09 18:32] phobologic commented on #54
Ahh, looks like it's only for certain services.

[2015-08-10 18:23] #54 closed

[2015-08-10 22:36] phobologic opened #65 "handle multiple users updating a stack at once"
Right now there's no special logic that would stop 2 people from attempting to update stacks at the same time.  In general the second attempt will see the stacks being updated, and probably do the right thing, but I can see some cases where that wouldn't happen and could leave stacks in invalid states.

So - probably worth having some way to lock the stack while you're working on it.  Not sure whe

[2015-08-12 18:15] phobologic commented on #55
#67 Fixes

[2015-08-12 18:18] phobologic commented on #52
One thing I've started to realize is that all the 'blueprint' specific naming of things isn't as important.  The resource names we give things just have to be unique *inside* a template, not unique across all templates.  So naming something PostgresRDSapiRdsdb doesn't make sense, unless we plan on having multiple resources of that type in the blueprint, which we usually don't.  That means you coul

[2015-08-12 18:48] mhahn commented on #52
yea, i like being able to see the names on all the aws entities and be able
to trace that back to the stack. i really wish we could just do
"api-postgres-rds" but they don't allow hyphens :(

On Wed, Aug 12, 2015 at 11:18 AM Michael Barrett <notifications@github.com>
wrote:

[2015-08-12 23:34] #48 closed

[2015-08-12 23:37] phobologic opened #69 "'reason' for an item being skipped in checkpoint would be useful"
We have a few reasons a stack might get skipped - it'd be good if in the checkpoint output, as well as other places, that reason was shared.

[2015-08-13 18:56] brianz commented on #41
Either of those would work.  Another alternative is to set a list of directories where Stacker would look for blueprints...set in the yaml file:

[code]

That coupled with the ideas above could work well...i'd also suggest changing some names...`source` and `class` to be more general and specific, respectively:

[code]

[2015-08-13 19:21] mhahn commented on #41
+1 to what @brianz is suggesting. i think that could work really well

[2015-08-13 19:35] markpeek commented on #41
Generally +1 although fetching is a slippery slope given "go get" supports multiple VCS and then dealing with proxies, etc. Also, adding a way to specify branch or hash would be good for testing. See? Slippery slope of features...

[2015-08-13 19:50] brianz commented on #41
What @markpeek said...totally agree.  As a first step it'd be nice to simply add the ability to import local files and leave the other stuff as an exercise to the developer.

Yet another option....create your own blueprint packages, pip install them, done.

[2015-08-13 19:51] mhahn commented on #41
the local paths are the most important to me, i agree with the pip install one too

[2015-08-13 19:52] mhahn commented on #41
[code]

the version of stacker I run just has the above change and I haven't had to think much about it after that. I think `blueprint_dirs` would be a better option though.

[2015-08-13 20:37] phobologic commented on #41
So, I think the blueprint_dirs idea works for most cases.  Our workflow is that we have a repo `private_stacks` that has a setup.py.  We have to make sure that before we update an environment we pull down the latest private_stacks and run `python setup.py install` in the virtualenv we're using

The `blueprint_dirs` suggestion wouldn't help with ensuring the git repo is up to date, but it would hel

[2015-08-13 20:52] mhahn commented on #41
what if you added a pre_hook to pull the repo?

[2015-08-13 21:47] brianz commented on #41
So....I'm liking the idea of blueprints as packages a lot.  The reason are:

- zero changes needed to stacker
- you can `pip install -e .` your package, and always get up-to-date blueprints while developing
- you can alternately treat the blueprints as versioned requirements for your system, just like any other python package
- IMO, updating a versioned package is outside the scope of this tool an

[2015-08-14 21:27] mhahn commented on #41
i buy all of that +1

[2015-08-16 18:38] phobologic opened #76 "remove aws_helper"
aws_helper isn't used in many places any longer - only in the hooks, and there's really no reason for it.

[2015-08-17 04:23] phobologic commented on #55
Fixed

[2015-08-17 04:23] #55 closed

[2015-08-17 04:24] phobologic commented on #33
This was fixed.

[2015-08-17 04:24] #33 closed

[2015-08-17 04:24] phobologic commented on #3
This was fixed by @mhahn with the destroy subcommand.

[2015-08-17 04:24] #3 closed

[2015-08-17 19:33] gileze33 opened #80 "Supporting eu-west-1 in the empire build"
I've done the work locally to support eu-west-1 for the stacker empire build but that involved reducing the number of AZs from 4 to 3 (as eu-west-1 only has 3).

I'd like to give the updates back to you, but is there a way to add conditional logic into the conf/empire/empire.yaml file to allow 4 everywhere but in eu-west-1?

[2015-08-17 20:27] phobologic commented on #80
So this is a problem for multiple regions - us-west-1 in my account, for example, only has 2 subnettable zones.

The AZCount thing has always been a little hacky, which was why we ended up adding the local parameters feature: https://github.com/remind101/stacker/pull/61

Let me think about this a bit.  I have code that can figure out how many subnettable zones are available in a given region, but

[2015-08-17 21:11] gileze33 commented on #80
Maybe a way of saying 'up to 3'? Something like "^5"?

Sent from my iPhone

[2015-08-19 17:18] #76 closed

[2015-08-19 17:41] phobologic commented on #53
It appears that changing outputs or parameters doesn't matter. For example, in testing the local parameters stuff, I've removed AZCount from the Parameter list in the template.  It produces an entirely new template, but since AZCount isn't used inside the template itself, CLoudformation considers the stack to have not changed and ignores the update.  I guess all that matters are things that affect

[2015-08-19 17:51] phobologic commented on #80
So I can't think of a great way to do this 'automatically' with the way things currently are- the blueprint is where the logic happens that uses the AZCount, and the blueprint (purposefully) doesn't have access to the provider.

At this point I think it's best to make AZCount a variable inside the environment file, default it to 2, and leave a comment with detailed instructions about updating it t

[2015-08-19 20:40] gileze33 commented on #80
Sounds like a very good work around. I was tempted to submit a PR with it set to 3 but wasn't sure how you guys would react :)

Sent from my iPhone

[2015-08-19 22:48] phobologic commented on #80
https://github.com/remind101/stacker/pull/82 - let me know if the wording isn't clear enough, or if you think there's something I missed.  I'm not closing this, because in order to get eu-west-1 in there we need to finish the empire_ami stuff, but I think we're getting close!

[2015-09-08 21:57] mhahn commented on #65
since we publish the templates to an s3 bucket, maybe we add a "LOCKED" file that will prevent another user from updating the stack at the same time.

when the stack has finished updating or an error happens, we'll remove "LOCKED"?

[2015-09-08 21:59] mhahn commented on #37
fixed with https://github.com/remind101/stacker/pull/72

[2015-09-08 23:04] #37 closed

[2015-09-10 22:48] mwildehahn opened #93 "Support "pre_build" and "post_build" hooks for individual stacks"
Right now if a stack depends on a pre_build hook, we put it at the top of the conf file. This makes it hard to tell which stacks depend on which hooks.

I'd rather have something like:

[code]

then if I remove the `ecs` stack, the hook that it depends on is removed.

this also would support my usecase with vault, where i'm going to have dependent stacks depend on referencing values from the vault

[2015-09-11 01:57] mhahn opened #96 "Issue force updating new RDS Db"
[code]

i know its rare that you want to update a db and replace it, but in this case i did. not sure if we care about handling it.

[2015-09-11 02:43] mhahn opened #97 "Started seeing issues with TCS with new amis"
https://github.com/aws/amazon-ecs-agent/issues/102

[2015-09-11 18:14] mhahn opened #101 "Support extending ASG blueprint"
Did some of this in:

https://github.com/remind101/stacker/pull/100

but wanted to get @phobologic thoughts from the RDS refactor about any other things we should do if we refactor these.

[2015-09-13 21:04] mhahn opened #102 "Support programatically constructing outputs"
I've been thinking about a way we could make stacker -> empire conf simpler.

Right now I setup the stacks, then have to examine the outputs (mostly just DB addresses) and map them to DATABASE_URL and REDIS_URL values in an empire conf. I think something like this could be useful:

[code]

then maybe some flag to `stacker info` could output all of the "outputs" you've defined in the config, ie.

[

[2015-09-14 18:00] mhahn commented on #102
@phobologic and I discussed this and agree that it starts to push out of the scope of stacker.

i think that adding `format=json` parameter to `info` would allow a separate tool to be written which could take that output and create this type of env file.

[2015-09-14 18:00] #102 closed

[2015-10-01 02:36] lox opened #106 "Compatibility with AWS Multi-Factor Auth"
I see mention of env variables for AWS_ACCESS_KEY_ID & AWS_SECRET_ACCESS_KEY, but how about for when AWS_SESSION_TOKEN exists when using MFA?

I couldn't find anywhere in the code where these vars were explicitly referenced, so the standard boto auth mechanism should work, but it doesn't seem to from our tests.

[code]

[2015-10-01 03:12] phobologic commented on #106
Where have you seen the use of `AWS_SESSION_TOKEN`?  I don't see it anywhere in the boto source - I see some mention of a variable with that in boto3, but not the environment variable itself.  Maybe it's a aws CLI thing?

If you've seen it's use with the original boto library let me know where.

That said, I've worked with getting MFA working with boto before - it's not super hard, and definitely

[2015-10-01 03:37] phobologic commented on #106
It does look like it works with the original boto - but it's not called `AWS_SESSION_TOKEN` it's called `AWS_SECURITY_TOKEN` I believe.  Have you tried that?

[2015-10-01 03:47] lox commented on #106
Interesting, I thought that boto was up to date with the AWS SDK standards for authentication, which use AWS_SESSION_TOKEN. Will investigate more, are you guys on the latest boto?

[2015-10-01 03:48] lox commented on #106
Gross. https://github.com/boto/boto/issues/3298

[2015-10-01 04:02] phobologic commented on #106
Yeah, it doesn't look like the team has updated boto to match that blog post.  What's interesting is that the SDK page for AWS still lists boto as the primary python library, but they haven't yet updated it.  Not sure how to read that.

[2015-10-01 04:03] lox commented on #106
Ok cheers, sounds like this is a boto issue anyway, thanks for the prompt response!

[2015-10-01 04:03] #106 closed

[2015-10-01 04:31] phobologic commented on #106
No problem - if there's something we can do to make this easier let me know :)

[2015-10-08 22:33] rafaelmagu commented on #97
Is there an IAM permission missing? I'm seeing the same issue, but couldn't find any documentation on why it's there. I don't know if `ECS_DISABLE_METRICS=true` also stops CloudWatch.

[2015-10-11 21:31] phobologic commented on #97
I actually have a fix for this - I'm working on rolling it out today.  Basically ECS has a bunch of undocumented volumes that it needs to get stats.

See:

https://github.com/remind101/empire_ami/pull/6

I'm going to go ahead and close this issue here, lets track it in that PR.

[2015-10-12 08:44] crohr commented on #97
@phobologic is there also the need for updating the minion policy to allow `ecs:StartTelemetrySession`?

[2015-10-12 16:28] phobologic commented on #97
Actually yes - that's in my latest round of updates that are on-deck.  Just waiting to get logging in the AMI, then I'll have a set of new releases (for both stacker & the empire_ami) that will make it easy to get logging going.

[2015-10-12 21:44] berndtbrkt opened #108 "require_stacks tag can get beyond AWS limit for tag value length"
When dealing with a large(r) number of stacks, the tag value can grow beyond the AWS limits (particularly the require_stacks tag).  This results in an error in deployment.

I noticed that there is another issue regarding tags (https://github.com/remind101/stacker/issues/44), and a comment that the tags aren't actually used for anything.  Should the tags be nuked (kill two birds)?  I'd be happy to

[2015-10-12 21:46] phobologic commented on #108
Yeah - at this point we might as well yank out the require_stacks tag, it's not used for anything, and doesn't appear that it will every actually be very useful.  @mhahn, you don't use this for destroy right?

[2015-10-12 23:45] phobologic commented on #97
Hey guys - I've gone ahead and finished building the new AMIs, and have updated stacker to use the new AMIs.  I haven't yet done a new release of stacker, but if you use the version in git you should be able to test this.  Out of the box we enable log streaming, but it can be disabled in the environment file.  Note - there is a new environment setting:

[code]

If folks could give it a try, that'd

[2015-10-15 18:17] crohr commented on #97
Thanks @phobologic, I'll be able to test the new images next week and will report back.

[2015-10-19 19:06] gcallaghan opened #111 "Excessive Memory Consumption"
As my stacker config grows, the memory consumption has grown significantly. I have a vagrant development environment that is running out of memory when attempting to deploy a stack. I've had to increase my vagrant box memory to 4gb in order to handle a stacker deployment with 17 stacks.

[2015-10-19 19:38] phobologic commented on #111
A little more info:

- Does the memory consumption happen all at once, or as stacker runs over time?
- Can I get a little more info about the stacks you're building?  Are you using the blueprints that come with stacker, or are they custom blueprints?  How big are the resulting templates?
- How much memory is in use when you run into these issues?
- What arguments are you running stacker with?
- Do

[2015-10-19 21:37] dramdass commented on #111
* Does the memory consumption happen all at once, or as stacker runs over time?
 * All at once after it says "Deploying! Executing Stacker..."
* Can I get a little more info about the stacks you're building? Are you using the blueprints that come with stacker, or are they custom blueprints? How big are the resulting templates?
  * We're doing some custom ones. They are 17 stacks ranging from about

[2015-10-22 20:49] phobologic commented on #111
BTW, I've confirmed this, and I've found the issue.  I'm going to be out of town starting tomorrow (Mexico) so won't be able to get back to this till Wednesday, but I've done a bunch of research and attempted a few fixes (that successfully fixed the memory usage, but broke the system in other ways).  Anyway, I'm going to put some notes up here to help me when I can get back to this, or to help any

[2015-10-22 20:52] phobologic commented on #111
BTW, one more bit of pain - here:

https://github.com/remind101/stacker/blob/master/stacker/actions/base.py#L169

We actually iterate over something and modify it in place.  It's a bad idea. I have a change on hand that'll change the way that works (and should make it a bit faster, though without strict ordering).  I haven't tested this fully, but I think this will end up simpler in the long run:

[2015-10-26 17:55] crohr commented on #97
@phobologic sorry for the late update, but updated our platform last week, and log streaming works like a charm, as well as telemetry. Thanks!

[2015-11-02 21:53] ejholmes opened #112 "Support for stack policies"
CloudFormation has support for setting [stack policies](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html) to prevent updates to protected resources. We should support this within stacker.

[2015-11-03 19:06] phobologic commented on #97
Cool - I'm going to go ahead and spin a new release of stacker for this.  Thanks!

[2015-11-03 23:33] #111 closed

[2015-11-10 01:01] phobologic commented on #97
This was pulled into 0.5.3!  Closing.

[2015-11-10 01:01] #97 closed

[2015-11-10 17:58] phobologic commented on #80
Hey @gileze33 - I've started copying the empire_ami to eu-west-1 with this update: https://github.com/remind101/empire_ami/pull/13

Was there any other work, other than the change to the # of AZs in the stacker empire config, that you needed to make empire work in eu-west-1?  If not, I'll be updating the stacker config with the eu-west-1 AMI.  Thanks!

[2015-11-10 17:59] phobologic commented on #108
I think this and #44 were 'fixed' with this update: https://github.com/remind101/stacker/pull/110/files

Closing.

[2015-11-10 17:59] #108 closed

[2015-11-10 17:59] phobologic commented on #44
Fixed via https://github.com/remind101/stacker/pull/110/files, closing.

[2015-11-10 17:59] #44 closed

[2015-11-10 18:51] gileze33 commented on #80
Here's the diff from my changes:

diff --git a/conf/empire/empire.yaml b/conf/empire/empire.yaml
index b958381..65d133a 100644
--- a/conf/empire/empire.yaml
+++ b/conf/empire/empire.yaml
@@ -48,6 +48,10 @@ mappings:
       NAT: ami-2dae821d
       ubuntu1404: ami-f15b5dc1
       empire: ami-85ede7b5
+    eu-west-1:
+      NAT: ami-ef76e898
+      ubuntu1404: ami-47a23a30
+      empire: ami-984c13e

[2015-11-11 00:57] phobologic commented on #80
Cool - I made some updates here with the new AMI:

https://github.com/remind101/stacker/pull/116

Let me know if that looks ok to you.

[2015-11-20 21:58] phobologic commented on #80
OK, I think #116 should cover it - I'm going to go ahead and close this.  If you have issues with ti, let me know.

[2015-11-20 21:58] #80 closed

[2015-12-02 22:45] ejholmes opened #122 "Fn::GetAZs only returns VPC's with default subnets"
I don't think this is something that stacker needs to try to handle, but wanted to put it here in case anyone runs into it.

Within the [vpc stack](https://github.com/remind101/stacker/blob/535b64010da02f3ef189235e545944ef4f676b50/stacker/blueprints/vpc.py#L176) we iterate through AZCount and select from `Fn::GetAzs`. However, it's possible that if you ever delete the default subnets in an aws acc

[2015-12-03 18:05] phobologic opened #123 "If a stack launch fails and the stack is 'locked' stacker will try to update"
[code]

What happened there was that the MasterDB was launched, but then there was an issue with the creation of the stack, so CloudFormation went into a rollback.  Usually we'd crash immediately the next time we checked the stack, but in this case it didn't crash and instead thought it should update the stack.

I think this is due to the fact that we check for the lock before trying the update, w

[2016-01-14 11:46] gileze33 opened #134 "Empire AMI seems to be targetting old ECS agent (at least for eu-west-1)"
It seems like the latest AMI `ami-3cef374f` is targetting ECS agent version `1.4.0` which has some really bad disconnection issues.

Could you walk me through how to update the AMI?

[2016-01-15 18:49] phobologic commented on #134
The agent actually gets pulled here:

https://github.com/remind101/empire_ami/blob/master/ansible/roles/aws_ecs/files/etc/init/ecs_agent.conf

Updating that to a newer version should pull in a newer version of ECS.  Of course if there have been any config changes, etc, they need to be handled, and then verifying that it works.  You should be able to see all the things relating to ecs's agent in:

[2016-01-20 21:28] phobologic opened #135 "Boolean parameters should be converted to strings"
`true` in YAML converts to python's `True` boolean. Parameters are never booleans, and the strings `true` and `false` are somewhat common as strings in Parameters.  I can't think of a reason to leave them as the python booleans, as right now to use `true` for example you have to use `!!str true`

[2016-01-21 01:09] phobologic commented on #134
Hey @gileze33 - just created this PR:

https://github.com/remind101/stacker_blueprints/pull/6

Check it out, let me know if that works for you.  Thanks!

[2016-01-21 20:17] phobologic commented on #96
This has been a bit, but I'm curious what you updated that caused it to have to replace it?

[2016-01-21 20:19] phobologic commented on #41
I think the introduction of `stacker_blueprints` as a separate package that has dependencies on specific versions of stacker mostly handles this.  For personal packages, the same process should be followed (and if your stacks rely on `stacker_blueprints`, it should specify that in `setup.py, required_packages` with a specific version).  Closing this out.

[2016-01-21 20:19] #41 closed

[2016-01-24 19:11] phobologic commented on #134
This should be fixed in the latest stacker_blueprints.

[2016-01-24 19:11] #134 closed

[2016-01-24 19:12] phobologic commented on #122
Going to go ahead and close this since there's no much we can do about it - but at least it's documented here if someone goes looking for it.

[2016-01-24 19:12] #122 closed

[2016-01-25 18:13] #135 closed

[2016-01-26 05:05] ejholmes opened #137 "Make namespace optional?"
If you're using separate AWS accounts for each "meta" stack, having a namespace doesn't add much value, and actually makes it harder to search through the cloudformation generated names for things.

What do you think about making the namespace optional and if not provided, just upload the templates direct to cloudformation instead of s3 to avoid having to create the s3 bucket before hand?

[2016-01-26 21:21] phobologic commented on #137
The reason we use S3 is to make sure that any template you upload will work - without S3 you are limited on the size of the template you can upload.  I think this is less of a problem these days, though I haven't looked in a while.

This could be quite a bit confusing though, especially when some hooks/blueprints make use of the namespace for automatic naming/namespacing of various resources (s3 b

[2016-01-27 00:52] ejholmes commented on #137
Makes sense, although, it would be nice to at least be able to decouple the namespace from the s3 bucket (or just upload direct to cloudformation) otherwise you get into a scenario where you can't use the namespace you wan't because the bucket is already taken.

[2016-02-02 23:09] jonatanblue opened #139 "Run in existing environment"
The current example (in ``conf/example.yaml``) seems to assume that I will set up everything using stacker. Do you have any examples of a stack for an existing environment? For example, if I already have a VPC configured, and want to add a subnet using stacker, how would I specify the VPC ID?

Do let me know if there's a better place to ask these kinds of questions (irc/slack/mailinglist).

[2016-02-02 23:22] phobologic commented on #139
In general I think most people do use stacker that way - they let it manage the whole stack.  That said, it should be pretty easy to get it to work with existing resources. You won't be able to use the `stack::resource` reference in Parameters, but you can still provide the values yourself.  So f something is asking for the VPCId, you'd just provide it manually for that value.  for example:

https

[2016-02-02 23:22] #139 closed

[2016-02-04 03:30] phobologic commented on #4
This is handled by diff!

[2016-02-04 03:30] #4 closed

[2016-02-04 03:37] phobologic commented on #101
I'm going to go ahead and close this, since #100 was accepted - we can always do more if necessary.

[2016-02-04 03:37] #101 closed

[2016-02-04 17:08] phobologic commented on #58
@mhahn @synfinatic I'd love your guys opinions on this.  I think this is sort of handled via the new `stacker_blueprints` library, since we use hard versions in its requirements.  Really don't want to catch someone off guard though if we change something that could cause potential issues later.

A good example of this would be moving the empire example from using the old `postgres.py` based RDS da

[2016-02-04 17:10] phobologic commented on #53
I'm wondering if using a dummy resource in every blueprint automatically would be a good way of handling this? It seems like that'd be 'magical' and might scare the crap out of people.  Also we'd have to find a way to deal with something like that in `diff` and `build` to stop it from showing the magic resource as a 'change'.  Any ideas on this?

[2016-02-04 17:11] phobologic commented on #52
Honestly I don't think this is ever going to get changed.  We can try to be better about it going forward, but this isn't really a priority for fixing old resources.  It'd also cause updates on resources that could break things.  Going to close it.

[2016-02-04 17:11] #52 closed

[2016-02-04 17:13] phobologic commented on #45
This was actually 'fixed' in https://github.com/remind101/stacker/commit/9f4ae195c01453ee90c5e2b5dbcee978a5374d8c#diff-8f84670404b5e0466057d169e260c840 - closing.

[2016-02-04 17:13] #45 closed

[2016-02-04 18:21] synfinatic commented on #58
I don't have much to say here because I'm not using any of these examples/standard blueprints.  One thing that is preventing me from doing so is that we realized it was better to put all the SecurityGroups in a single stack (we put them with the VPC) to make it easier to manage dependancies between SG's.

I will say that for #1 I wish that Troposphere tracked which parameters for a resource requir

[2016-02-04 21:31] #69 closed

[2016-02-19 18:25] phobologic commented on #65
What about if, before stacker will do a build/destroy, it first checks the current status of each of the stacks in it's plan - if any of them are in an 'updating' state, it will bail out?  Not sure if that's better than the lock file idea.

[2016-02-19 18:28] phobologic commented on #53
Honestly, I can't think of a good way to fix this - it's more a bug/feature of Cloudformation, and I think any attempts we make to get around it are just going to cause other issues.  I'm going to close this.  Feel free to re-open if you have any ideas on how we can fix it.

[2016-02-19 18:28] #53 closed

[2016-03-15 20:49] cyommer opened #146 "modify stacker_blueprints to use vpc nat gateway instead of nat instances"
Since cloudformation and troposphere support nat gateways now, should they be used instead of nat instances?   I'm working on trying to modify vpc.py to support that, but I keep doing something wrong, so I don't have a pull request ready yet.  Is this a direction in which you are moving, or are you planning on sticking with nat instances?

Also, thanks for doing some great work with this and empir

[2016-03-15 21:07] cyommer commented on #146
Also, I just realized I did this in the wrong repo.  i'll move it over to the stacker_blueprints repo.  My bad...

[2016-03-15 21:07] #146 closed

[2016-03-29 23:34] ejholmes opened #147 "Support change sets"
AWS recently [announced support for change sets in CloudFormation](https://aws.amazon.com/blogs/aws/new-change-sets-for-aws-cloudformation/?sc_channel=sm&sc_campaign=launches_2016&sc_publisher=tw_go&sc_content=change_sets_cloudformation&sc_country=global&sc_geo=global&sc_category=cloudformation&adbsc=social_20160329_59922656&adbid=714956683982741504&adbpl=tw&adbpr=66780587).

It would be pretty aw

[2016-04-14 18:23] mhahn opened #149 "Support stack policies"

[2016-04-14 18:32] phobologic commented on #149
#112 duplicate

[2016-04-14 18:32] #149 closed

[2016-04-28 06:38] mhahn opened #151 "Running into error when tailing"
keep getting:

[code]

[2016-05-05 02:03] ejholmes opened #152 "Add a --dryrun flag"
Sometimes, I just want all the templates to be generated as a way of syntax checking, which would provide faster feedback than deploying (and would also make it useful as a test in CI).

[2016-05-09 17:59] phobologic commented on #152
I've previously wanted a `dump` command that dumped all the templates to a directory so that we could analyze them.  I think that might be a good place for this type of thing - maybe just an option to build the templates but not dump them anywhere.

[2016-05-09 18:20] phobologic commented on #151
https://github.com/kennethreitz/requests/issues/1906 is likely the cause here

[2016-05-09 18:20] phobologic commented on #151
Not requests itself, but the underlying python 2.7 issue with certain SSL endpoints.

[2016-05-09 18:20] phobologic commented on #151
BTW, this may be fixed in boto3/botocore.  For a long time I've thought about moving over, maybe this will be the impetus.

[2016-05-12 21:34] ferrants commented on #44
it's possible as of february and now works in boto

[2016-05-12 21:58] phobologic commented on #44
Thanks @ferrants - we were actually just talking about this this week after I saw they announced you can do this along with the new Change Sets.  We'll probably re-implement this soon :)

[2016-05-16 20:18] phobologic opened #154 "Look into using cloudformation tags again"
We removed them with #44 - now CF does provide a method for updating tags, so we should look into whether or not they'd be useful again.

[2016-05-29 18:34] #42 closed

[2016-06-17 17:41] phobologic opened #164 "'blueprint info' command"
One of the hard parts of adding a new stack definition to your stack config is that you don't know what Parameters & Local Parameters are necessary/available.  You have to look at the blueprint code itself to find that.

It might be nice to be able to get that info with a command.

Outputs would be nice as well, though that seems a bit more difficult.

[2016-06-30 07:45] ejholmes opened #168 "Custom CloudFormation resources"
Custom resources are probably one of the most underused features of CloudFormation, probably because they're a lot of work to build. In order to use custom CloudFormation resources you have to:
1. Build a lambda function that properly handles CloudFormation requests.
2. Package that function, upload it to s3 somewhere.
3. Create the lambda function via the API or CloudFormation.

I think we could

[2016-06-30 07:54] ejholmes commented on #168
This could probably replace [hooks](https://github.com/remind101/stacker/tree/master/stacker/hooks) so that everything can be done within CloudFormation.

[2016-07-06 22:21] phobologic commented on #152
I think this is basically handled by the new `--dump` option to build.  Closing.

[2016-07-06 22:21] #152 closed

[2016-07-06 22:22] phobologic commented on #96
Closing this for now - if it pops up again, we can investigate (also, should probalby be in stacker_blueprints now).

[2016-07-06 22:22] #96 closed

[2016-07-15 08:11] ejholmes opened #170 "Reduce verbosity of UI"
https://github.com/remind101/stacker/pull/153 helped a lot, but I think there's still room to make the UI around progress updates more intuitive. I'm thinking, something similar to what `docker pull` does when it pulls layers. Each layer is rendered on a single line, and it's updated as it changes state.

Doing something similar within stacker might make it a little more pleasant to watch:

https:

[2016-07-15 16:11] phobologic commented on #170
Yeah, I've been thinking about doing something like this for a bit now.

[2016-07-19 15:23] #154 closed

[2016-07-19 15:24] phobologic opened #172 "allow stack specific tags"
@acmcelwee just added the ability to have global tags for every stack in the config.  It'd be awesome if we also had the ability to add tags on a per-stack basis.

[2016-07-20 00:03] phobologic opened #173 "send stacker events to sns optionally"
It might be cool to send stacker events to SNS topics, which would allow us to then forward those to places like Slack, etc.

[2016-07-23 01:23] mhahn opened #175 "Move to local parameters"
We've talked about this a bunch, we should move to local parameters since we don't actually leverage the parameters being a part of the cloudformation template.

When we make this move, we should also drop defining parameters as a class variable. It makes subclassing a pain, ie:

[code]

[2016-07-27 00:40] mhahn commented on #175
local parameters also doesn't handle resolving dependencies from other outputs

[2016-08-01 20:57] mhahn commented on #147
Initial pass: https://github.com/remind101/stacker/pull/178

[2016-08-02 21:24] mhahn commented on #175
I'd like to move away from the current `PARAMETERS` and `LOCAL_PARAMETERS` and move to a new concept of parameters with the following behavior:
- should be a simple python dictionary of values. this lets us leverage the YAML config to pass complex types (lists/dicts). (similar to `LOCAL_PARAMETERS`)
- should support resolving stack outputs, similar to `PARAMETERS`
- subclassing should be straightf

[2016-08-02 21:51] phobologic commented on #175
@acmcelwee @troyready - you guys have been pretty active here lately, not sure if you're on the slack team, but thought I'd ping you to see if you have any opinions about this.  Thanks!

[2016-08-02 21:59] troyready commented on #175
My only thoughts are way out on the bikeshed. Seems good to me conceptually.

[2016-08-02 23:15] mhahn commented on #175
@troyready bikeshed comments are welcome too ;)!

[2016-08-02 23:45] acmcelwee commented on #175
I like it. I sort of did this in our company-specific base blueprint to allow extension of the parameters that parent blueprints might've added.

[code]

👍 from me

[2016-08-03 22:24] phobologic opened #184 "Allow cross-namespace output gathering for parameters"
This comes from @acmcelwee in https://github.com/remind101/stacker/pull/169#issuecomment-233201214.  This is something I've thought about before, but hadn't come up with a good conclusion.

One idea is that we could have stacker attempt to find the stack with the namespace, and if that fails fall back to looking for the stack without the namespace.  The only downside to that is that it feels like

[2016-08-03 22:27] phobologic commented on #184
And I realized now that I missed  @acmcelwee 's proposal for a syntax - basically a leading `::` in front would indicate that it's a fully qualified stack name - that seems fine to me.

[2016-08-04 00:08] ejholmes opened #186 "Allow for sub-tree provisioning"
If we think about it, stacker configs are just a dependency tree (a DAG to be exact), where stacks depend on other stacks. It would be useful if you had the ability to start provisioning from an explicit root.

For example, say I have the following stacker config:

[code]

It would be handy to be able to specify the starting point for provisioning, like:

[code]

[code]

I think this would be more

[2016-08-04 00:09] ejholmes commented on #186
Potentially related to https://github.com/remind101/stacker/issues/184?

[2016-08-04 00:14] phobologic opened #187 "boto3 move missed a few things"
It looks like the recent boto3  move (in #174) wasn't totally complete - @troyready fixed one of the hooks, but I mistakenly didn't look at the rest of the hooks.  It looks like the boto2 library is still used in these places:

[code]

This was found due to tests failing in #185

(CC: @acmcelwee - if you have a chance to look at it, I'll try to get to it soon otherwise)

[2016-08-04 00:18] phobologic opened #188 "stacker & stacker_blueprints troposphere requirements out of sync"
Right now, the required version of troposphere is different for stacker & stacker_blueprints:

[code]

The >= just caused issues with tests due to circleCI seemingly caching the image between runs, and it being stuck on 1.5.0, when PR #185 needed a feature from 1.6.0.

Not sure what the right thing to do here is.  We could make them match and try to keep that in sync, though not sure that's the be

[2016-08-04 02:56] acmcelwee commented on #184
@phobologic, thanks for pulling this over. It hasn't been a blocker for me yet, so I haven't spent any brain cycles on it lately. I'm quoting your contract expectation from [#169 (comment)](https://github.com/remind101/stacker/pull/169#issuecomment-234603481)

The combination of a leading `::` for fully-qualified stacks + the contract stated above seems like enough to provide a lot of useful funct

[2016-08-05 16:32] phobologic opened #191 "New tests w/ mocked boto calls"
I'd love to get even more tests with something like this going: https://github.com/spulec/moto

[2016-08-11 19:45] #170 closed

[2016-08-11 19:47] mhahn commented on #186
i think this would be pretty straightforward. i'll take a crack at it

[2016-08-11 19:47] mhahn commented on #147
this is done!

[2016-08-11 19:47] #147 closed

[2016-08-15 05:23] #187 closed

[2016-08-15 05:34] phobologic commented on #188
For now I think we just need to update troposphere for stacker to match the version that it needs - ie: 1.6 in #185.  Still not sure what the right thing is to do with both stacker & stacker_blueprints depending on it.

[2016-08-19 05:53] danielkza opened #195 "Support Change Sets for stack upgrades"
[Change Sets](https://aws.amazon.com/blogs/aws/new-change-sets-for-aws-cloudformation/) are a very useful AWS feature to evaluate modifications before a stack upgrade, and would fit quite well with most stacker workflows.

It would be nice if they were supported. They could be integrated into the `build` command, by creating change sets instead of directly applying changes, or into the diff comman

[2016-08-19 15:28] phobologic commented on #195
Hey @danielkza - change set support was just added, though it's not in a release yet (I hope to have a release ready soon, in the next week most likely):  https://github.com/remind101/stacker/pull/178

[2016-08-19 15:28] #195 closed

[2016-08-19 17:21] danielkza commented on #195
I was using the latest version from pip and missed the PR. Really great to know, I'll test it out ASAP. Sorry for the bogus report!

[2016-08-19 17:26] phobologic commented on #195
No worries!  This release is long overdue, but we had a bunch of cool stuff coming in, so I've been holding off :)  If you have any comments/concerns/suggestions for the way it's implemented, please let us know.

One thing to keep in mind is that it's hard to implement a `diff` command in changesets when you're dealing with multiple stacks, which is why @mhahn opted for the 'interactive build' mod

[2016-08-21 00:06] danielkza commented on #195
I just figured out why I thought I was up-to-date but was not: I first installed stacker by simply having `stacker` in `requirements.txt`, then tried upgrading to a local copy using `pip install -e`. It didn't work as expected because the version number didn't change, causing pip to not actually link the `stacker` script to the new copy.

I believe always bumping the version in `master` right afte

[2016-08-21 07:29] danielkza opened #196 "Failure when deploying second stack with AWS interactive provider"
I get a traceback when attempting to deploy two stacks (second depends on the first) with the new interactive option (but *not* without it). The first stack deploys successfully, but the second doesn't even start.

Running from master at 3604de9e4e67ebd572941ce9ccc3b2e25cb28908.

[code]

[2016-08-22 16:42] phobologic commented on #196
Can you reproduce this?  It seems like this is an issue w/ SSL & the low level client in botocore, which gets called from the default provider (the interactive provider is a subclass of the default one, but calls many of the same methods, in this case it's calling `providers/aws/default.py", line 69, in retry_on_throttling`).

[2016-08-23 19:39] danielkza commented on #196
I can't reproduce it in a different machine (OS X 10.11.6, compared to Fedora 24 from the original report). I'll investigate it further.

[2016-08-24 18:31] danielkza commented on #196
This is reproducible in a second Fedora 24 machine. I have a reasonable guess that this is a thread-safety issue with reusing the Boto session in multiple processes, specifically in the background process that waits for the change set to be ready (boto/boto#3170).

[2016-08-24 19:35] phobologic commented on #196
Hey @danielkza - can you share the command line options you're using?  Thanks for this!

[2016-08-24 19:37] danielkza commented on #196
@phobologic  I believe this doesn't really depend on the options, but on some weird interaction between my Python version, SSL library version and/or Boto. Iḿ just doing `stacker build production config.yml -i --tail`.

[2016-08-24 19:47] phobologic commented on #196
Yeah, just want to make sure we have all the info.  I'm not sure if `-i` and `--tail` were programmed to be used together (@mhahn would know, he wrote both) but I don't think that's your issue.

It looks like this specific error is well known with `multiprocessing` when using the `ssl` module:

http://stackoverflow.com/questions/3724900/python-ssl-problem-with-multiprocessing
http://stackoverflow.

[2016-08-24 19:55] phobologic commented on #196
Also, I think I have a fix for this - can you give the https://github.com/remind101/stacker/tree/fix_multiprocessing_shared_conn branch a try?  Here's what I changed:

[code]

Basically we'll use a different client per process id.

[2016-08-24 20:03] danielkza commented on #196
I actually used almost exactly that code as quick fix, but I'd like to make it a little bit prettier for the PR, by adding a `reset_session` method to provider and having it passed as a callback to `Plan`. This way the problem will not surface again if something other than tail is added and it's easier to apply the same fix if clients for other AWS services are used in the future. What do you thin

[2016-08-24 20:09] phobologic commented on #196
I'm not sure what exactly reset_session would do (just generate a new session?) and when it would be called by Plan, so hard to say.  I think this keeps things relatively simple.

To be honest, as soon as multiprocessing was suggested, I got nervous because of these sorts of weird interactions.  Now I'm wondering if it's necessary, or if we could poll the tail between updates.

[2016-08-24 20:12] danielkza commented on #196
Set `self._cloudformation` to `None`.

I added a callback parameter to `Plan` to be executed whenever a new process is spawned.

[2016-08-24 20:19] phobologic commented on #196
I'd be up for seeing a PR if you have an idea in the works.  Still really wondering if we could simplify multiprocessing out of the picture, but that's probably more work than this needs at the moment.

[2016-08-25 03:12] danielkza commented on #196
I think I ended up complicating things a bit too much while trying to properly test with multiprocessing. You can go ahead and merge your fix, since it will be much simpler. It might be wise to leave a comment about it and check if it doesn't behave strangely in testing.

[2016-08-29 03:30] danielkza commented on #196
I just tested your branch and it seems to work fine @phobologic. Just a small note looking at the code: it probably isn't necessary to keep a dictionary of sessions, as any single process should never have more than one session. Storing the PID observed when the session was created, and throwing it away if the PID changes should be enough.

[2016-08-29 21:59] #175 closed

[2016-08-29 23:44] mhahn commented on #188
It seems reasonable to me to require that we use "compatible release" versions for both libraries since they're so connected: https://www.python.org/dev/peps/pep-0440/#compatible-release.

I was bit by just doing a blanket `troposphere>=1.2` and then there was a backwards incompatible change somewhere in there.

I think doing `troposphere~=1.7.0` in both libraries is the safest thing.

[2016-08-29 23:52] mhahn commented on #188
https://github.com/remind101/stacker/pull/201

[2016-08-30 00:15] mhahn commented on #184
@acmcelwee can you take a look at: https://github.com/remind101/stacker/pull/202 and see if that addresses your issue here?

[2016-08-30 00:33] mhahn commented on #196
I used multiprocessing initially since it was the simplest thing conceptually. We launch multiple stacks at the same time, so when implementing tailing, I thought we could just trigger a `_tail_stack` that was a 1 to 1 mapping with `_launch_stack`. Thus multiprocessing to trigger one process per stack to tail it.

I looked through it again, we could definitely simplify this by just having a single

[2016-08-30 00:35] mhahn commented on #196
Related: https://github.com/remind101/stacker/issues/151

[2016-08-30 00:47] mhahn commented on #137
It is annoying that you wouldn't be able to use a specific namespace because someone is already using that.

If we submit directly to s3, we have to be under the 51,200 byte limit, which I wouldn't want to deal with.

What if we add an optional parameter to the config like `s3_suffix:` which you could use to provide a random value that would only be used when creating the s3 bucket name?

[2016-08-30 00:50] mhahn commented on #65
Yea. Something I run into every once in awhile when developing a new blueprint is something goes wrong with the blueprint and I can't just re-run stacker since something else might be in the `UPDATING` state. Right now it just dumps an exception from boto, we should probably handle it better.

[2016-08-30 00:51] mhahn commented on #65
Probably related to: https://github.com/remind101/stacker/issues/8

[2016-08-30 19:17] mhahn commented on #137
I was cleaning up some of the docs and found we already support this: http://stacker.readthedocs.io/en/latest/config.html#s3-bucket.

[2016-08-30 19:17] #137 closed

[2016-08-30 22:08] mhahn opened #205 "Support defining CloudFormation Parameters within Blueprint Variables"
Convo: https://empirepaas.slack.com/archives/stacker/p1472579952000002

[2016-08-31 12:31] danielkza opened #207 "Pass stacker bucket name as hook parameter to allow uploading of secondary artifacts"
I would like to upload some files to S3 (more specifically, a script to be used with Cloudformation::Init) to be used in my stacks, and it would be nice to be able to place them in the same bucket as stacker to avoid creating more. Right now the hook functions do not have access to `context.bucket_name`, but I think it would be useful.

[2016-08-31 16:19] phobologic commented on #196
Cool - @danielkza please checkout https://github.com/remind101/stacker/pull/208

Let me know if that works for you.  Thanks.

[2016-08-31 16:33] phobologic opened #209 "write CONTRIBUTING.rst to give guidance"
See https://github.com/remind101/stacker/pull/204#issuecomment-243822382 for details

[2016-08-31 16:47] #184 closed

[2016-08-31 18:32] mhahn commented on #209
👍

[2016-08-31 18:52] #196 closed

[2016-08-31 19:37] phobologic opened #211 "Remove Parameters"
Remove the stacker Parameters code in favor of Blueprint Variables.

[2016-08-31 19:37] phobologic opened #212 "Remove Local Parameters"
Remove Local Parameters in favor of Blueprint Variables.

[2016-09-01 04:23] ttarhan opened #213 "Having a slash inside a lookup seems to cause infinite recursion"
While working in the ${file...} lookup, I discovered that having a slash inside the lookup, such as:

`${file parameterized-b64:file://userdata.txt}`

causes infinite recursion in Variable.resolve, on line 118 (while self.lookups). Simply removing the slashes in the path above avoids the problem.

I haven't looked into the root cause yet.

[2016-09-01 04:32] ttarhan opened #214 "Lookups can no longer return complex objects"
While working on the ${file. ...} lookup, I ran into an issue: the lookups serve as simple string substitution. The file lookup needs to return troposphere objects (Base64 or GenericHelperFn) to return the required JSON structure:

         { "Fn::Join" : ["", [
           "#!/bin/sh\naws s3 sync s3://",
           {"Ref" : "BucketName"},
           "/somepath /somepath"
         ]] }

which canno

[2016-09-01 04:36] phobologic commented on #213
I'm taking a guess, but it's likely due to this line: https://github.com/remind101/stacker/blob/master/stacker/variables.py#L11 - you might need to include `\/` in the idpattern.  @mhahn will know best.

[2016-09-01 04:39] ttarhan commented on #213
@phobologic indeed, that fixes it. I'll put in a simple PR just for that fix right now.

[2016-09-01 17:23] mhahn commented on #214
I need to think about this a little more.

We need to change: https://github.com/remind101/stacker/blob/master/stacker/variables.py#L26 to support this.

off the top of my head, one option (which would break nested lookups):

- determine what lookups are within the string
- if any of the lookups have a non-string value, that should be returned and all the others will be ignored. Any wrapping looku

[2016-09-01 17:30] ttarhan commented on #214
I think we should go one of two extremes:

1) Very Simple -- non-string lookups don't support nesting, and it's invalid to nest them. If any lookup within a set of nested lookups returns a non-string value, it's an error. So you can create lookups like ${file} that return whatever you want them to return, but you can't nest them.

2) Go All The Way -- use kwawgs (I would't bother with args and kwa

[2016-09-01 17:34] mhahn commented on #214
Yea, I say we go with 1 until we have another use case.

I think we could add helper methods to "structure" the string value if a lookup wanted to, and maybe at that point we had some way to handle nested "object" values. but right now i can't think of a use case and it seems like a lot of YAGNI.

[2016-09-01 17:35] mhahn commented on #214
I'll get to this in a couple hours. Should be fairly simple.

[2016-09-01 17:37] ttarhan commented on #214
Thanks. I'll finish up my PR after you get this resolved.

[2016-09-01 21:43] #213 closed

[2016-09-01 23:02] #214 closed

[2016-09-02 20:42] phobologic opened #217 "Should blueprint variables accept non-python built in types"
Right now we only accept basic python types and CFNTypes due to this code:

https://github.com/remind101/stacker/blob/378d0bfb989900a4c688cc51f25f7702cdbfac87/stacker/blueprints/base.py#L285

That works great, but what if we want more specific types.  For example, I am building a blueprint that will allow you to build an SNS queue with multiple subscriptions.  My idea for the config would be somet

[2016-09-02 20:43] phobologic commented on #217
@mhahn assigning you  just to get your thoughts, you don't have to handle this if you're ok with it, I can write a PR

[2016-09-02 23:25] phobologic commented on #217
Talked it over with @mhahn, and I think instead I'm going to work on an optional `validator` setting for Variables, that will let you do custom validation of the contents of the variable.

[2016-09-05 20:34] ttarhan opened #223 "Unable to export templates using -d"
The -d option to 'stacker build' is broken after the recent variable-related changes. It always fails if there's any lookups:

stacker.exceptions.UnresolvedVariables: Blueprint: "clusterinstance" hasn't resolved it's variables

[2016-09-05 21:18] ttarhan opened #224 "Ability to dynamically add variables"
Hey guys,

I have another use case that used to work with the old local_parameters setup, that (possibly) breaks with the new variables implementation. Bear with me, because this is probably a unique usage of Stacker, but it's super helpful:

Both @troyready and I work in an environment where we're sometimes required to produce "pure" CloudFormation templates. In these environments, Stacker has st

[2016-09-05 22:02] phobologic commented on #224
This is a pretty strange use-case - is there any reason to use CFN Parameters for this, when by doing this you're basically removing the re-usability of the template (unless you're re-filling in each Parameter each time you use the template?).

That said, I think you could do something with `defined_variables` https://github.com/remind101/stacker/blob/master/stacker/blueprints/base.py#L210

[2016-09-05 22:36] ttarhan commented on #224
@phobologic - you nailed it. Since these templates are exported for non-stacker environments, we end up with a template that looks/feels like a normal CFN template, and those params end up being configurable. So at "template generation" time, we can specify the extra params we want mapped to SGs or Tags, and at "template use" time, we can specify the values.

[2016-09-05 22:52] phobologic commented on #224
Ok - by overriding `defined_variables` and having it read in from one variable (with the list of SG Parameter names you want) you should be able to then create those parameters by adding CFNType variables to the existing `VARIABLES` definition.  Can you give that a try?

[2016-09-05 23:23] phobologic commented on #205
Fixed in #206

[2016-09-05 23:23] #205 closed

[2016-09-05 23:24] #191 closed

[2016-09-05 23:24] #188 closed

[2016-09-05 23:25] phobologic commented on #151
I think this is probably fixed by #208  - if not, reopen.

[2016-09-05 23:25] #151 closed

[2016-09-06 16:52] #209 closed

[2016-09-06 16:54] mhahn commented on #224
I think we should wait till `1.0` to have an answer for this. Once we clear out the old parameters, it will be easier to see where this goes. I wouldn't want to tell you to override some method that we might blow away in `1.0`.

[2016-09-06 16:56] mhahn commented on #223
This is tough with `output` lookups. `dump` is essentially a dry run where we don't submit the stacks to CF. I think I have something that will work if you're using `CFNType`, but there are cases where that will break if you have a blueprint that depends on an output to render.

[2016-09-06 16:57] mhahn commented on #217
👍

[2016-09-06 18:04] mhahn commented on #223
@ttarhan can you give some context on how you use `-d`?

[2016-09-12 17:13] syphon7 opened #228 "Commands hang with circular variable"
Very small issue -

When an output is used as a variable to the stack that creates the output stacker hangs rather than errors.

E.g.
`
-name: main-vpc`
`
   variables:`
`
        TestVar: ${main-vpc::TestVar}
`

This is an invalid variable, but it should detect that rather than hang indefinitely.

[2016-09-12 18:54] phobologic commented on #228
@syphon7 thanks for noticing this, will try to get it cleaned up asap.

[2016-09-15 21:35] mhahn commented on #223
Have a fix for this in 1.0

[2016-09-15 21:36] mhahn commented on #211
Will be fixed with: https://github.com/remind101/stacker/pull/229

[2016-09-15 21:36] mhahn commented on #212
Will be fixed with: https://github.com/remind101/stacker/pull/229

[2016-09-22 23:20] mhahn commented on #217
@phobologic you can close this now right?

[2016-09-22 23:23] #217 closed

[2016-09-22 23:23] phobologic commented on #217
Yup, closed.

[2016-09-22 23:41] #228 closed

[2016-09-23 18:56] mhahn commented on #207
our current `handle_hooks` logic looks like:

[code]

so we pass a lot of stuff from the context to the method already.

I think this should really just be

[code]

and `region` should be on the context object.

For 1.0 we can update the hook handler to just take the context, for 0.8.2 we can just pass context as a kwarg.

[2016-09-23 19:06] mhahn commented on #207
Looking through it I guess `region` comes from provider which makes sense, I think something similar to what we've done for lookups where these receive:

`result = method(provider=provider, context=context)`

[2016-09-23 19:46] mhahn commented on #207
https://github.com/remind101/stacker/pull/234 is a version that will work for 0.8

[2016-10-05 18:46] mhahn commented on #223
Fixed with: https://github.com/remind101/stacker/pull/231

[2016-10-05 18:46] #212 closed

[2016-10-05 18:46] #211 closed

[2016-10-05 18:46] #207 closed

[2016-10-05 19:07] #223 closed

[2016-10-06 02:00] troyready opened #240 "dump mode of build action won't work with unresolved variables"
I'm seeing a `stacker.exceptions.UnresolvedVariables: Blueprint: "myblueprint" hasn't resolved it's variables` error when attempting to use the `--dump` option with build.

I looked into how the dump option shortcut works, but it's not clear to me how/where to best fix it.

The blueprint I'm testing with only has VARIABLES defined of CFN parameter types and AWSHelperFn.

[2016-10-11 21:03] mwildehahn opened #242 "Better handling of ClientErrors"
Right now when we have CF errors we blow up:

[code]

we should clean this up

[2016-10-12 00:16] mchristen commented on #240
I also ran into this... I made a pull request with my quick and dirty fix to it here #243

Feel free to try it out and see if it also works for you.

[2016-10-12 18:01] russ opened #244 "Can't run a diff"
I'm just upgraded to the latest version of stacker and I'm trying to run a diff but getting an error.

[code]

I upgraded from version 0.5.2 to 0.8.1

[2016-10-12 18:19] russ commented on #244
Nevermind. Somehow had some old awacs package lying around causing that issue.

[2016-10-12 18:19] #244 closed

[2016-10-15 18:18] danielkza commented on #207
Sorry for taking so long to respond, but this looks like exactly what I needed. Thanks!

[2016-10-16 02:24] phobologic commented on #240
@troyready have you given the 1.0.0a1 release a try?  It sounds like, from #243, that this may be fixed already?

[2016-10-16 13:24] troyready commented on #240
@phobologic you're right, this is resolved in the 1.0 branch. Thanks @mhahn !

[2016-10-16 13:24] #240 closed

[2016-10-18 23:36] mhahn opened #249 "Support using troposphere objects as blueprints"
I was writing a blueprint for s3 which essentially was just collecting values to pass to troposphere's s3 bucket object.

For these simple cases, maybe we can just do something like:

[code]

which would essentially just do something like:

[code]

we would need to adjust some things to support that, but I like the idea of just piping variables to `from_dict` in troposphere since @phobologic added

[2016-10-19 00:31] phobologic commented on #249
So my thoughts was that you could make it so that stacker understood troposphere objects as types (and lists of troposphere objects potentially).  So you could have a variable called `Buckets` that had a type of `[troposphere.s3.Bucket]` which meant that it could take a list of dictionaries, those dictionaries containing all the necessary info to create a troposphere Bucket object.  The cool part

[2016-10-19 01:33] ejholmes opened #250 "KMS cipher texts throw off lookup parsing?"
In an number of places, I'm doing this:

[code]

[code]

Depending on the value of the ciphertext, sometimes I'll get what I expect (the unencrypted plain text) and sometimes I'll get this in the template:

[code]

It seems to only happen when the ciphertext includes `==`, so maybe that's throwing off [lookup.LOOKUP_REGEX](https://github.com/remind101/stacker/blob/5a62de834bc74bce7e2a0ce64e2ad35eb

[2016-10-19 15:05] mhahn commented on #249
yea, the first part of your comment is what i was thinking initially too. what i proposed was a step beyond that but i think fits in more with what you're talking about with drivers.

I think better support for troposphere types in stacker variables would be the best. Then like you said the s3 blueprint could just be:

[code]

Similar to how troposphere defines types. The one thing we'd have to do

[2016-10-29 14:47] jonathanunderwood opened #255 "Command line parsing of variables breaks for lists variables"
In a blueprint, I have part of the VARIABLES attribute defined as:

[code]

Calling stacker like this:

[code]

Results in a CloudFormation template containing:

[code]

So, somehow the security group id has become tokenized. It's unclear from the docs/help how -var is supposed to be used, but I don't think this is intended behavior?

[2016-10-29 15:33] jonathanunderwood opened #256 "Dumping fails when one stack consumes the output of another stack"
With 1.0.0a1 dumping doesn't work:

[code]

It looks like the directory option isn't propagated through to Plan.dump.

[2016-10-29 17:55] mhahn commented on #164
Going to take a crack at this, thoughts here: https://empirepaas.slack.com/archives/stacker/p1477763587000502

[2016-10-29 22:19] jonathanunderwood commented on #255
As an extra datapoint, setting the SecurityGroup to a list in the stack definition, results n SecurityGroupIds in the CloudFormation template being an empty list. Something is quite broken here.

This is all with 1.0.0a1

[2016-10-30 23:04] phobologic commented on #164
Maybe it's worth a subcommand for all blueprint operations - I could see more in the future.  `stacker blueprint info`, `stacker blueprint get`, things like that.

[2016-10-31 10:51] jonathanunderwood opened #258 "Cut new release 1.0.0a2?"
There's a bunch of fixes in the git branch since release 1.0.0a1 which are important - any chance of cutting another release tarball for PyPi so more bugs get shaken out?

[2016-10-31 16:51] phobologic commented on #258
Good call - all set.  1.0.0a2 is out.  Thanks!

[2016-10-31 16:51] #258 closed

[2016-10-31 17:00] phobologic commented on #258
Actaully realized I forgot the master merge first, so I've just spun 1.0.0a3 as well.

[2016-11-03 18:35] #250 closed

[2016-11-04 17:18] jonathanunderwood commented on #256
With the latest 1.0.0a3 release:

[code]

[2016-11-08 02:45] ejholmes opened #263 "Feature: Cross account management"
Just jotting this down here to make note of it. It'd be pretty cool if stacker could link cross account stacks. For example, if most of your resources are managed in account A, you may want to add an account B that's 100% isolated from account A, then give account A access to AssumeRole into B. Being able to manage resources via stacker in both A and B would be pretty rad.

I'm not sure the best w

[2016-11-11 13:06] jonathanunderwood commented on #256
OK, the above happens when there is one stack using the output of another stack. I don't have a good idea as to how that could be fixed, since when dumping, the first stack may not exist, so it's not possible to pull variables from AWS for those outputs. Perhaps it would be better to put placeholders in the second stack to at least make dump functional as a debugging helper.

[2016-11-14 22:35] phobologic opened #264 "Enhancement: Use SNS/SQS for stack events/status rather than polling."
Polling Cloudformation for stack status was the quick way to get things going, but I think a better system would be to make use of the ability for Cloudformation to send stack events to a SNS arn:

(From: http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_CreateStack.html)

[code]

We could have stacker create an SNS topic as well as an SQS queue with subscriptions, then tell the

[2016-11-14 23:41] phobologic opened #265 "Enhancement: Enable passing of ServiceRole to stacker"
http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-servicerole.html

This is especially useful when updating things that take a long time (RDS Instances, for example), as the timeout for those when being updated by a ServiceRole is longer than when not.

From: http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html

[code]

[2016-11-20 23:34] phobologic commented on #256
@jonathanunderwood I believe that the right way to deal with this is to use the `--vars` flag to replace the variables that usually call `${output}`.

it might be possible for us to ignore the output lookups when doing a dump, let me look into that.

[2016-11-21 01:00] phobologic commented on #256
Hmm - we could, in theory, provide default values for each of the types, but that might get messy.  @jonathanunderwood any idea what you would expect for this to do when you're doing cross stack output lookups?

[2016-11-21 01:16] phobologic commented on #255
Hey @jonathanunderwood got a partial fix in #266, but a bigger problem is how we pass complex data types in as CLI arguments.  Lists & dicts being the two I'm thinking of now - this could get quite complex for dicts, so lets leave that out of it, and tackle the more immediate issue of lists.

There are two ways I think we could attempt to handle it (though I'm not sure of the difficulty right now)

[2016-11-29 19:28] rouge8 opened #277 "Configure region outside of the CLI?"
It would be great if we could specify the region when configuring stacks, e.g.:

[code]

[2016-11-29 19:30] phobologic commented on #277
I wonder if this would be a good idea to combine w/ #263.  Maybe make a profile a mix of account id + region?

[2016-11-29 19:31] phobologic commented on #277
@ejholmes ping ^^

[2016-11-30 03:44] ejholmes commented on #277
Yep, I think it'd make sense to just add support for specifying what profile to use when creating a stack. That'd easily allow for cross account/region/etc use cases, as well as all the other stuff that profiles allow, like assuming rules + mfa.

For example, in the case above, you can just point stacker at an `~/.aws/config` file like:

[code]

And then specify the profile in the stacks definitio

[2016-11-30 03:54] ejholmes opened #279 "General slowness"
I've noticed recently (I think it started with the 0.8+ releases) that stacker seems to run a lot slower. For a project containing ~60 stacks, a no-op run through took 6 minutes. Given that most of the stacks don't depend on each other (which means most updates should be running in parallel), 6 minutes seems incredibly high.

We should dig into why this is.

[2016-11-30 03:59] ejholmes commented on #279
On a side note, I've noticed that the plan status doesn't seem to be updated periodically anymore. Maybe related?

[2016-11-30 05:12] ejholmes commented on #279
Ok, I did a little digging and it looks like the logic in [stack.py](https://github.com/remind101/stacker/blob/0cf1df67b4ae5aeda5845442c84905909101c238/stacker/plan.py#L189-L230) for doing parallelization doesn't really work the way you'd expect it to. Essentially, it only spins up a separate process that watches for a stack to complete, but doesn't actually do the execution in a separate process,

[2016-12-02 23:34] rouge8 opened #283 "Apply `sys_path` when finding handlers/lookups"
It would be helpful if the `sys_path` config setting applied to lookups and handlers, not just blueprints. I would expect this layout to work, but instead it raises an `ImportError`:

#### `stacks.yml`:

[code]

#### `stacks.env`:

[code]

#### `mymod.py`:

[code]

[2016-12-03 03:45] ejholmes opened #284 "Set a botocore credential cacher"
The AWS CLI (and by extension, botocore) supports specifying [profiles that can automatically assume a role](http://docs.aws.amazon.com/cli/latest/userguide/cli-roles.html). This allows you to do something like this:

[code]

It's possible to use this with stacker by setting the `AWS_DEFAULT_PROFILE`, since we use boto3. However, when assuming a role with MFA, every request will prompt you for an

[2016-12-04 03:35] phobologic commented on #283
Hey @rouge8 - I just submitted #286 that should resolve this.  If you could take a look that'd be awesome :)

[2016-12-04 04:45] #283 closed

[2016-12-04 18:57] rouge8 commented on #283
Perfect, thanks!

[2017-01-03 18:15] mhahn opened #288 "Make it easier to get started with stacker"
I used stacker for a small project over break and it was painful to get up and running with it. A part of this was some unmerged PRs like `stacker blueprint info` as well as the dynamodb blueprint, but it was also annoying to have to remember the following:

- create an env file
- create a config file
- invoke stacker
- install private blueprints

`stacker init`
- something similar to `npm init` w

[2017-01-12 01:11] ttaub opened #290 "Convert booleans in YAML to strings for CFNParameter type vars"
For example:

`storage_encrypted: "true"`

should be able to be written as a boolean:

`storage_encrypted: true`

in the environment and config files.

[2017-01-12 01:13] ttaub opened #291 "Convert floats to strings in the YAML files"
Similarly to issue: #290

Stacker should be smart enough to be able to parse floats in the configuration files.

[2017-01-12 02:33] phobologic opened #292 "calling super() on `defined_variables` returns the base classes `VARIABLES` attribute"
This doesn't bite you, unless you have two classes that subclass a single class that then subclasses Blueprint, and all call super() on `defined_variables`.  Example:

- class `BaseRDS` is a subclass of `Blueprint`
- class `MasterInstance` is a subclass of `BaseRDS`
- class `ReadReplica` is a subclass of `BaseRDS`

You try to build an environment with a `MasterInstance` and a `ReadReplica`.  First

[2017-01-12 02:48] #292 closed

[2017-01-13 22:37] mhahn opened #295 "Setting up stacker in new projects"
Stacker is awesome for big projects but could be much better for smaller projects. I have some small projects I've wanted to use it for.

The workflow I think would be awesome to get to would be something like:

[code]

the above would generate the configs etc.

the cases i've hit is wanting a simple db for a project. i had to read up a bunch of stacker/troposphere things to do it. i would have lo

[2017-01-17 23:40] mchristen opened #296 "Using self.context.hook_data['some_key'] does not work when you are trying to diff a stack"
I'm using the release-1.0 branch and a common workflow for me is to make edits to our template.yaml and the blueprints and then run 'stacker diff' to see the changes that would be emitted.

If you have a pre_build hook(specifically the aws_lambda.upload_lambda_functions hook) then it is impossible to diff a stack that reaches into the context.hook_data to retrieve the results(in this case the trop

[2017-01-18 19:19] phobologic opened #298 "Remove explicit/default lookup pointing at `output`"
Right now if you don't specify the lookup you're using, it'll default to `output`, as detailed here: http://stacker.readthedocs.io/en/latest/lookups.html

After a chat in the Slack, folks seemed to agree that this shortcut wasn't necessary, and could lead to confusion and/or other issues.  It also complicates the code a bit.

To do that, the plan is to remove this feature in 1.0.

[2017-01-19 23:36] ct-wn opened #299 "import module failing"
Hello,

I am encountering the same issue no matter how I run stacker. I have had the most success using docker but I can't get past this issue now. I have tried a custom vpc template I created as well as the example blueprint but the furthest I can get is to this error:

docker run -it -e AWS_ACCESS_KEY_ID=**** -e AWS_SECRET_ACCESS_KEY=**** -v `pwd`:/stacker remind101/stacker build -v -v /stacker/

[2017-01-20 00:18] phobologic commented on #299
Can you share the config that you're using for this?  Most specifically for the vpc stack?

[2017-01-20 02:31] ct-wn commented on #299
This happens with the ones from the blueprints repo
https://github.com/remind101/stacker_blueprints/blob/release-1.0/stacker_blueprints/vpc.py

[2017-01-20 19:12] ajk8 opened #300 "handle dependency trees within stacker's purview"
**Problem:**
If you have a stacker configuration defining several stacks which pass variables between them at the configuration level, you cannot specify a stack in the middle using the `--stacks` option. Instead, you must explicitly specify all of the upstream stacks using separate `--stacks` arguments.

**Desired Outcome:**
I should be able to specify a single stack, and stacker should be able t

[2017-01-23 05:27] phobologic commented on #249
@mhahn we should be able to close this, right?

[2017-01-23 05:29] phobologic commented on #300
Thanks for the bug, @ajk8 - fortunately we already have a PR to do just this: #282 - it's delayed a bit because the author is on leave, but hopefully it should be in soon!

[2017-01-23 05:31] phobologic commented on #299
Hey @ct-wn - I mean what config file and environment file you are using that is causing this to break.  Also, where are you installing the blueprints you want to use? Is it relative to the path you're calling stacker from or is it installed (ie: via `python setup.py` or `pip install`)?

Thanks!

[2017-01-23 05:34] phobologic commented on #224
@ttarhan have you had a chance to try the overriding of `defined_variables`?

[2017-01-23 06:17] phobologic opened #301 "Error w/ invalid env var name (release-1.0)"
Testing out some changes I'm working on to the RDS blueprints, I accidentally had an error with one of the environment variables I was using in the config:

[code]

That resulted in this error:

[code]
Two things:

1. Why?
2. We should probably wrap the deconstruct call there in a try/except to let us know what variable is causing the issue.  Honestly, we could probably standardize this somehow as

[2017-01-23 15:23] ct-wn commented on #299
Hi Phobologic,

Here are the config / env files

[http://pastebin.com/ipKzf8cJ](http://pastebin.com/ipKzf8cJ)

This is the most recent command I ran that still failed (using the correct stacks path).

docker run -it -e AWS_ACCESS_KEY_ID='***' -e AWS_SECRET_ACCESS_KEY='***' -v `pwd`:/stacks remind101/stacker build -v conf/dev.env conf/dev.yml

The blueprints are relative to the path I'm calling sta

[2017-01-23 16:11] ct-wn commented on #299
I may have pasted the wrong version to pastebin, the classpath is actually:
class_path: ..stacker_blueprints.vpc.VPC

[2017-01-23 17:31] phobologic commented on #299
Thanks - thsi is actually pretty common confusion, and something we're working on rectifying right now - getting people who are new to stacker started in the fastest way possible (a tutorial/example stack is almost complete).  So a few things:

Since you are not installing the blueprints in your `PYTHONPATH`, you need to tell stacker where to find the blueprint.  You can do that by adding the base

[2017-01-23 17:52] ct-wn commented on #299
Thank you kindly that works a lot better, just have to deal with some template related errors now.

[2017-01-23 17:52] #299 closed

[2017-01-24 01:14] ttarhan commented on #224
My colleague, @troyready, is actually working on this very thing later this week.

[2017-01-24 02:09] phobologic commented on #224
Oh, awesome - thanks guys!

[2017-01-26 03:48] danielkza commented on #296
I had not considered this case when writing the hook. They are not usually run in diff mode, and would need special support for it, to generate relevant data without actually applying any changes. Do you have any suggestions on how it should work in that case?

[2017-01-26 04:07] mchristen commented on #296
The way I managed to work around it for now was simply providing a mock troposphere Code object like the following in my blueprint. It still creates entries in the diff but at least that is manageable when scanning the output.

[code]

[2017-01-27 08:35] troyready commented on #224
@phobologic yeah, that's exactly what we needed. Thanks a ton for pointing us in the right direction!

[2017-01-29 19:08] phobologic commented on #224
@troyready @ttarhan After looking at this a bit more, I think `get_variables` is where you'll need to do this, rather than defined_variables.  I'm not 100% sure how it will work out, but just thought I'd update this to let you know.  Let us know how your efforts with this go.

https://github.com/remind101/stacker/blob/master/stacker/blueprints/base.py#L313

[2017-01-29 19:12] phobologic commented on #296
Yeah, I'm not sure there's a good way to genericize this - if the hook_data was somehow typed, we could potentially do something, but that's a bigger change.

[2017-01-29 19:17] danielkza commented on #296
The best I believe can be done is to let the hook signal that it knows how
to run in diff-only mode, and run it. It can't be done by default or
existing hooks may run twice.

Em dom, 29 de jan de 2017 17:12, Michael Barrett <notifications@github.com>
escreveu:

[2017-01-29 19:21] ttarhan commented on #224
I think @troyready got this working (see comment two days ago). Maybe he could comment on what the final solution was?

[2017-01-30 17:42] phobologic commented on #264
Current set of (hacky) scripts to test this - the format of the events is kind of a mess, and required a regex to parse correctly, which has me nervous:

https://gist.github.com/phobologic/75c489dff6ac3212c5b5da69b93235cd

[2017-01-31 23:39] troyready commented on #224
@phobologic appreciate the guidance as always!

I ended up needing to override resolve_variables, as it's the first place that the `provided_variables` from the configuration yaml are available. With that data it wasn't too hard to update the local `variable_dict` and `defined_variables` with the auto-generated values.

[2017-02-01 02:12] phobologic commented on #224
@troyready Cool - sounds good.  Do you think there's something we should make more obvious here/something we should change, or do you think the way it works now should be fine for most usecases/should I go ahead and close this issue?  Thanks for diving into it!

[2017-02-01 02:23] troyready commented on #224
@phobologic I think our use here is off the beaten path enough that everything is good as is.

If there was going to be future improvement it might be around the `defined_variables` function, since it's designated as the 'right' place to override but is of questionable value to me since it doesn't have access to anything from the configuration yaml. Possible there's other obvious use cases for it,

[2017-02-01 04:26] phobologic commented on #224
Sounds good - at least we'll have this to point at if anyone else has a similar use case.  Thanks again guys, going to close this for now!

[2017-02-01 04:26] #224 closed

[2017-02-01 04:28] phobologic commented on #284
https://github.com/remind101/stacker/pull/307 - Thanks @ttaub

[2017-02-01 04:28] #284 closed

[2017-02-02 22:03] troyready commented on #224
(just leaving a note for posterity -- this issue should still remain closed)

I was incorrect in my last comment -- I needed to override `resolve_variables` & `defined_variables` (defined_variables needed to return a different values after `resolve_variables` was called) to make this work. So it's definitely useful in its current form.

[2017-02-07 19:31] ttaub commented on #263
This would actually be pretty easy to do using the new way we do sessions, you could just have an optional profile field when creating the session object.

E.g
[code]

I'll submit a PR for a demo of this functionality when I get the chance.

[2017-02-10 19:11] ttaub commented on #301
Resolved #319

[2017-02-13 16:38] jonathanunderwood commented on #256
Good question. I tend to be using this for debugging purposes, so if the parameter was tokenized to read something like {{${otherstack:var}}} I'd be happy. That would obviously be an invalid cloud formation template, but at least it would be usable for debugging purposes.

[2017-02-13 16:58] jonathanunderwood opened #320 "Empty environment parameter specified on command line causes stacker to fail"
Version: 1.0.0a6
A command such as:

[code]

causes

[code]
So, it seems SomeVar is undefined, rather than defined as being the empty string is what I was trying to achieve. Passing `-e SomeVar=""` has the same outcome.

It really should be possible to specify that a variable is the empty string at the command line, I think.

[2017-02-13 18:20] jonathanunderwood commented on #320
The way to work around this appears to be to use `-e SomeVar=\"\"` which I suppose is logical. I do wonder if there's a nicer fix possible, but I can also see why this might not be considered a bug :)

[2017-02-13 19:42] ttaub commented on #320
Thanks for letting us know.

This is the default behavior for how our command line argument parsing works, so I don't think the fix will be very trivial. I think it's best to leave it as is for now.

If this is a serious issue for you, feel free to submit a PR and I will take a look at it.

[2017-02-13 19:45] jonathanunderwood commented on #320
Yes - I think I agree, I can't see a simple way to "fix" this. Actually, I'm not sure it's broken, in fact. Will close.

[2017-02-13 19:45] #320 closed

[2017-02-15 23:13] phobologic commented on #298
Fixed in #310

[2017-02-15 23:13] #298 closed

[2017-02-15 23:16] #301 closed

[2017-02-15 23:20] phobologic commented on #296
@mchristen So after talking with @danielkza and others on the slack, I think the plan going forward will be to change `diff` so that it no longer does our own version of diffing, but instead uses CFN changesets, which would be more "complete".  We already use changesets when using `--interactive` in the `stacker build` action, so it should be easy-ish to implement.

This doesn't fix any issues we

[2017-02-15 23:21] #290 closed

[2017-02-15 23:23] phobologic commented on #277
(pinging @rouge8 since he opened this, and @troyready since he mentioned he was looking at this in #318):

I'm going to mark this as post-1.0.  I'm working on trying to get 1.0 out, and I think this can wait till after that (though I don't think it'll take long).  Let me know if you disagree!

[2017-02-15 23:24] rouge8 commented on #277
Fine with me, I ended up going with a wrapper script around the Stacker CLI anyways. :)

[2017-02-15 23:25] phobologic commented on #249
Closing, pretty sure @mhahn implemented this with his TroposphereType

[2017-02-15 23:25] #249 closed

[2017-02-15 23:33] phobologic commented on #277
@rouge8 Cool - hopefully we can pull this in soon so you can do away with the wrapper :)

[2017-02-17 05:18] discobean opened #327 "xref in parameters fails with KeyError"
Hi guys, I've run into an issue when using xref:

[code]

This is when the xref is defined as `${xref p-vpc::VpcId}`.  If I remove the `::` it parses and does `diff` but obviously it doesn't pickup any values.

[2017-02-17 06:59] andrewoh531 opened #329 "Latest Dockerfile/Image has errors"
Just pulled the latest Docker image and tried running a command but getting the following error:

`python: can't open file 'setup.py': [Errno 2] No such file or directory`.

Latest push was a day ago so may have been something from that.

[2017-03-01 18:51] troyready commented on #329
Do you have a `setup.py` file in the directory in which you're running the container?

[2017-03-01 19:24] troyready commented on #288
After you mentioned coming back to stacker in Slack, I started thinking about the on-boarding experience and came to many of the same conclusions.

Strongly agree about the `init` subcommand in particular. Hardest part will probably be the color of the bike...I mean the exact directory layout to do.

For the stacker-docker, you should be able to reference the `release-1.0` tag to use the current v

[2017-03-03 00:39] discobean commented on #327
It looks like this happens only when using `${xref}` in a `parameter` - when using it in `variables` it works fine.

[2017-03-04 21:46] phobologic commented on #327
@discobean What version of stacker are you using?  Can you share the relevant parts of the config & blueprint when it breaks?  Thanks!

[2017-03-05 01:23] #255 closed

[2017-03-05 08:35] jonathanunderwood opened #335 "Stacker 1.0.0 breaks variable output lookup cf 1.0.0a6"
Moving to the 1.0.0 release leads to breakage for a stack, part of which looks like this:

[code]
The blueprint route53.RecordSet has and output added for ElbDns. With 1.0.0a6, there's no problem, but with 1.0.0 stacker bails with:
[code]

so it's failing to understand the lookup for ElbDns. In fact its trying to build that stack too early, as it's not resolved the dependency on the "ops-manager"

[2017-03-05 09:02] jonathanunderwood commented on #335
OK, looking through the code, this looks like it might be an undocumented change of syntax, and output lookup no longer requires the `${ .. }` syntax. So `Destination: ${ops-manager::ElbDns}` would be replaced by `Destination: ops-manager::ElbDns`. Is that correct, and intended behaviour?

If so, the docs need an update, since [the docs](http://stacker.readthedocs.io/en/latest/config.html) still d

[2017-03-05 09:14] phobologic commented on #335
Thanks!  I thought I'd caught this reference everywhere, but obviously not.  I'll take a look at stacker_blueprints in the morning to make sure the examples match up.

[2017-03-05 09:15] #335 closed

[2017-03-05 09:20] jonathanunderwood commented on #335
Actually, it seems like this still works in 1.0.0: `Destination: ${output ops-manager::ElbDns}` i.e. explicitly specifying the lookup handler.

Moving forward, can you give a steer on what the preferred, and hopefully not broken in the future, preference is? :)

[2017-03-05 09:25] jonathanunderwood commented on #335
Ah, scratch that, our messages crossed in the ether - I see explcitly stating the output handler is the way forward.

[2017-03-05 09:26] jonathanunderwood commented on #335
Thanks for the rapid response!

[2017-03-05 09:26] phobologic commented on #335
@jonathanunderwood We removed the behavior for `output` to be the default behavior.  You have to be explicit now.

[2017-03-05 09:26] phobologic commented on #335
Haha, more crossed communication!  No worries!  Also, you should join the slack team - there's quite a bit of talk there :)

[2017-03-05 12:37] jonathanunderwood commented on #335
Ooh! I had no idea there was a slack channel! What's the name?

[2017-03-05 12:59] jonathanunderwood opened #337 "Rate exceed when building a lot of stacks in paralle"
When we build a sequence of stacks where many can be built in parallel, e start hitting the rate limit for querying the AWS API:
[code]

This is with 1.0.0.

Seems like this should be handled more gracefully by stacker, perhaps.

[2017-03-05 17:53] phobologic commented on #335
@jonathanunderwood https://empire-slack.herokuapp.com/ will let you join the slack team - there's a #stacker channel there.

[2017-03-05 18:01] phobologic commented on #337
Ahh, this is a place where we didn't use `retry_on_throttling` and probably should have.  The actual fix though will be moving to SNS/SQS instead of polling for events from DescribeStacks, which is coming soon.

[2017-03-07 20:49] mchristen opened #339 "CFNTypes vs native Python types"
I noticed that in stacker_blueprints a lot of the base blueprints had their variable's types swapped out from types that inherit from CFNType to native python types and the code was updated to not use Ref and instead reach into the variables dict directly.

Is there a preferred way going forward? It was my understanding that the CFNTypes are newer and were going to be the preferred way of working

[2017-03-07 21:15] phobologic commented on #339
Hey @mchristen - we tend to lean towards using variables directly with the python types, though we've provided the CFNType's in case people still want to use Parameters (while allowing us to keep a single, consistent interface for defining both Variables & Parameter - since they're all Variables).

stacker_blueprints is meant to be an example repo that people could use, though you should expect ch

[2017-03-07 21:35] mchristen commented on #296
Sorry for the delay in getting back, I was distracted with other work and haven't had much time to look at the Lambda stuff again. I've been loosely following the discussion about pulling in blueprints via git and I think that the lambda stuff could benefit from something similar. I also hacked in some requirements.txt parsing as well to pull in the runtime dependencies and package them up with th

[2017-03-07 21:39] mchristen commented on #296
Regarding the --dump command

I personally don't use --dump at all and prefer to manage our stack changes through the `diff` command.

I think my ideal workflow would be something like:

1. Make changes to blueprint code and/or configuration files
2. Inspect all the changes that CloudFormation is going to make to the templates
    * It would be nice if the resource lifecycle could be incorporated

[2017-03-07 21:44] mchristen commented on #339
Ok that makes more sense. I think my original assumption that CFNTypes were the way forward was incorrect.

We already updated our blueprints to use VARIABLES over PARAMETERS awhile ago(I think prior to 1.0.0a5) but kept on using types based off of CFNType and had no issues until I went to upgrade to the latest released 1.0.0.

Is there a technical reason for preferring the native types over CFNTy

[2017-03-07 22:23] phobologic commented on #339
We've found native variables are easier to work with in a lot of cases - especially when you want to do things like create a variable # of things (for example, the VPC blueprint is so much easier than when we had to use Parameters - the proto-Variables idea came from LocalParameters, something we needed to make the vpc blueprint make sense - to make the # of AZs used dynamic).

In the end I think

[2017-03-07 22:23] #339 closed

[2017-03-07 22:27] phobologic commented on #296
Hah! @mchristen - re: the diff command, see my response to your other issue. I plan to change diff to use actual CFN changesets, so that should make it easier to have full confidence in it, since the changesets can tell you if there's a replacement required :)

[2017-03-09 16:10] GarisonLotus opened #342 "stacker import capability to create blueprints from existing cloudformation"
So, I wanted to open this up to start a discussion about something I kind of want to work on to help with the massive existing JSON CFN problem we have at Sturdy. Recently @troyready and I had a quick conversation in passing about the problem we will eventually have: getting the thousands of exisiting deployed CFM stacks from our older clients into stacker blueprints so we could potentially use th

[2017-03-09 16:27] Roberttmoon opened #343 "Issue with Diff-ing stacks"
I tired to diff some stacks that worked in 0.8.6 in Stacker 1.0, and revived this error.

stacktrace:
[code]

Thanks for your time, and Stacker is awesome!

Robert

[2017-03-09 17:08] mchristen commented on #343
@Roberttmoon I also ran into this problem, but I just submitted a quick fix for this in PR #344. Feel free to try out that branch and see if the fix works for you.

[2017-03-15 19:04] dgarbus opened #347 "Add option to specify namespace for S3 bucket"
Hey guys,

This issue is more of a nice-to-have, but we have a relatively large number of namespaces and have chosen to use a single `stacker_bucket` for storing stack templates. The problem we are facing is that stacker writes the templates to the root of the chosen bucket, rather than using any kind of namespace. This makes it difficult to identify the exact template we are looking for without a

[2017-03-15 19:51] phobologic commented on #347
There's been talk recently about changing the way we store the templates so that it no longer goes into the root of the `stacker_bucket` but instead goes to a sub path based on the name of the resulting stack.  So something like a stack named `vpc` in a namespace of `my-namespace` with a bucket of `my-bucket` would end up in:

`s3://my-bucket/my-namespace-vpc/`

Would that solve your issue?

[2017-03-15 19:55] dgarbus commented on #347
Yep, that should be perfect. Thanks for the quick follow-up!

[2017-03-15 19:57] phobologic commented on #347
Cool - I'll leave this issue open to track it.  Thanks for the suggestion!

[2017-03-16 02:25] GarisonLotus commented on #342
@phobologic, Any feedback on this idea?  I'm probably going to try to take a stab at it this weekend (if I can find the time.) A feature like this would allow us to easily migrate the sturdy "hand rolled" cloudformation customers into stacker.  Curious if you guys had something like this on your roadmap.

[2017-03-17 02:09] ejholmes opened #349 "Parse lookups as an abstract syntax tree"
Realized we don't have an issue tracking this. Lookups are currently replaced using regular expressions, which helped cause [this bug](https://github.com/remind101/stacker/pull/251). It might be more robust to parse everything as an abstract syntax tree.

[2017-03-17 02:39] discobean opened #350 "New Lookup: ami"
It would be great to have a new lookup like `{ami filter=xyz}` or something similar.

The filter will fetch the lastest AMI ID with a specific search.

For continuity it would be good to build it so the filter is similar that to the one available already in terraform.

[2017-03-17 04:24] phobologic commented on #342
I'm all for it - though from everything I've seen in maintaining troposphere it's a *very* difficult feature to implement in a consistent way.  The code for cfn2py was always a bit of a nightmare, and really painful to maintain.  If you can crack it though, I'd be all for it!

We don't have any plans ourselves, since we start with stacker from scratch.

[2017-03-17 04:27] phobologic commented on #350
Sounds like a useful lookup - not sure we'll have time ourselves to try and get this in for 1.1, but if anyone else is up for it I'd definitely be up for the PR!

[2017-03-17 04:28] phobologic commented on #329
@andrewoh531  - did you manage to get this working with a setup.py in the base directory?  I think the bigger issue here is just having better documentation/examples on how to use the docker image.  @troyready do you guys use it at all?

[2017-03-17 04:29] phobologic commented on #327
ping @discobean - this still an issue with 1.0?  If so, can you provide the relevant parts of config/blueprint?  Thanks again!

[2017-03-17 05:40] andrewoh531 commented on #329
Sorry I moved on from stacker. It may have been an error on my side and/or lack of documentation. Closing this issue.

[2017-03-17 05:40] #329 closed

[2017-03-17 15:49] troyready commented on #329
@phobologic it's really only mentioned by as as a theoretical 'fallback' option / support for older versions . I put a no-op setup.py alongside all of our configurations to support this (since the config yamls specify a local sys_path for the blueprints).

[2017-03-17 17:54] phobologic commented on #329
@troyready cool, thanks!

[2017-03-19 23:24] discobean commented on #327
I'll have a look - I've been migrating our parameters to variables anyway so not that big of a deal for me now.

[2017-03-19 23:24] discobean commented on #350
Sure, I can have a look when we get around to automating this part.

[2017-03-20 01:49] phobologic commented on #327
Thanks @discobean!

[2017-03-21 16:35] phobologic opened #352 "New lookup idea: env"
This seems pretty obvious, so not sure why we haven't done it before, but it might be useful to have a lookup that lets you look at environment variables in the shell.

[2017-03-24 06:20] discobean opened #355 "pip install fails"
I've had a few people come to me regarding this, when they `pip install stacker` they get

`error in stacker setup command: 'install_requires' must be a string or list of strings containing valid project/version requirement specifiers`

Or similar error :(

[2017-03-24 17:14] phobologic commented on #355
Hey @discobean - what version of pip are they using?  I believe we see that only with out-dated versions.

[code]

[2017-03-26 22:30] discobean commented on #355
I'm using 9.0.1 and it does work for me, I'll get them to upgrade and it should be ok.

Thanks!

[2017-03-26 22:30] #355 closed

[2017-03-27 15:07] kappataumu commented on #277
@phobologic This would really simplify some stuff, like creating buckets for cross-region replication. Is it on the roadmap?

[2017-03-28 14:10] oliviervg1 opened #356 "Allow nested lookups"
Given the following Stacker yaml:

[code]

We get the following stacktrace:
[code]

It would be great if we could nest lookups such that the result from `output` gets passed into `asg_private_ip`.

[2017-03-28 14:53] oliviervg1 commented on #356
Turns out that this works after all. Error was because my custom lookup's argument wasn't named `value`. I'm assuming it's because Stacker passes it in as a kwarg as opposed to a simple arg.

[2017-03-28 14:53] #356 closed

[2017-03-28 17:54] phobologic commented on #277
@kappataumu It's in theory on the roadmap, but not currently scheduled in any way.  It's definitely something we want to do though - or, if someone wants to give us a PR, we'd be happy to take a look!

[2017-03-28 17:55] #343 closed

[2017-03-29 22:30] ejholmes opened #357 "Parallelize resolution of lookups"
These happen serially right now, and if you have a lot of variables that use looks that make external requests (kms, output, etc) this can effect performance significantly.

[2017-03-30 01:08] ejholmes opened #358 "Concurrent stacker builds"
We have a fairly small team of people that run stacker right now, so it's easy to ask someone if they're doing something in an environment, but I think it's worth talking about what it would look like if we had 5, 10, 20 people running `stacker build` in a continuous integration environment.

Let's consider the following scenario:

We have the following stacks, which have dependencies on other sta

[2017-03-30 01:35] phobologic commented on #358
#65 is likely a duplicate of this

[2017-03-30 01:50] ttaub commented on #358
How are you actually obtaining a lock on a stack? What would the implementation of a lock look like?

[2017-03-30 06:32] ejholmes commented on #358
@ttaub _probably_ dynamo so it can be shared easily, but could be anything that can implement a `lock()`, `unlock()` interface. Empire has a similar concept to synchronize many concurrent deployments. It uses postgres advisory locking: https://github.com/remind101/empire/blob/master/scheduler/cloudformation/cloudformation.go#L570-L592

I'm mostly curious about what algorithms there are for synchro

[2017-04-10 11:53] danielkza commented on #350
I would love to have this, since I'm working on a [packer](https://packer.io) build hook to generate AMIs.

[2017-04-10 19:38] danielkza opened #361 "Removed unused --max-zones CLI parameter"
I can't find any uses of it in the code.

[2017-04-18 02:26] ejholmes opened #363 "Templating language for lookups"
Something we talked about briefly internally. The current syntax for specifying lookups looks something like this:

[code]

It allows you to nest outputs, but with some caveats.

It could be nice to support a more sophisticated templating language. Specifically, it would be nice to be able to perform simple transformations on config/outputs before providing them as a variable (e.g. conditionals, m

[2017-04-18 02:46] ejholmes commented on #363
On a similar note, at times I've felt it would be easier to describe everything in Python, rather than YAML. That would easily allow for transformations, conditions, and math using regular python without having to go the full on templating route. It's a trade off, because you'd loose some static analysis that you get from YAML, but could be nice for building out more sophisticated meta stacks. Giv

[2017-04-25 04:52] ejholmes commented on #277
This is something I want to tackle in the next ~month or so. I put together a little RFC for how I think this should work if anyone else has thoughts: https://github.com/remind101/stacker/wiki/RFC:-Profiles

[2017-04-25 04:53] ejholmes commented on #263
Put together a little RFC for how I think this should work: https://github.com/remind101/stacker/wiki/RFC:-Profiles

[2017-04-25 08:44] ejholmes commented on #168
I rhink we can close this. With the new lambda upload hook, this is easy to do.

[2017-04-25 08:44] #168 closed

[2017-04-25 13:31] troyready commented on #277
@ejholmes I love it. For xref, I'd prefer it to have an option to specify a profile added to its syntax (`profile@stack` or whatever`) and have it fallback to the environment (AWS_DEFAULT_PROFILE / output of assume-role / etc)

[2017-04-26 06:41] ejholmes opened #370 "Content hash in aws_lambda hook non-deterministic?"
Need to investigate this further, but we've noticed that the hash seems to change periodically, or across machines. I think this _might_ be because we hash the zip file itself, which may be including some extra metadata that changes.

Maybe we should hash the included files themselves? Basically:

1. Filter/Exclude files
2. Sort the file names.
3. Hash the file content.
4. Hash the combination of

[2017-04-27 00:29] phobologic commented on #370
Yep, your guess is correct - we hash the contents of the zip, but zip files include headers for the last modification time of each file: https://en.wikipedia.org/wiki/Zip_%28file_format%29#File_headers.

[2017-04-30 23:14] phobologic commented on #370
@ejholmes check out #372

[2017-05-01 19:06] phobologic opened #373 "--hide-skipped flag"
With over 70 stacks, and most updates resulting in most of them being `skipped`, it'd be good if we could just hide `skipped` stacks from the view.

[2017-05-02 23:05] evanjaaahn opened #374 "Non us-east regions have issue with create_bucket"
Looks like this is a regression back to #17 - ensure_cfn_bucket() in stacker.actions.base doesn't specify the location if the provider region isn't us-east-1.

[2017-05-03 07:02] ejholmes opened #375 "Remove coupling to the concept of an "environment"/"namespace"?"
This is something I seem to keep running into, I _really_ want to use stacker to provision everything, but the way it currently handles "environments" and "namespaces" doesn't really yield enough control to actually do it easily (at least, not while being backwards compatible with existing non-stacker stacks). I think decoupling stacker from the concept of "environments" and "namespaces" could hav

[2017-05-03 19:19] danielkza opened #377 "Traceback when TroposphereType creation fails"
Instead of getting a nice validation error message when creating a Troposphere resource fails, I get the following traceback:

Using stacker 1.0.1.

[code]

[2017-05-03 19:27] danielkza commented on #377
Additionally, it seems TroposphereType arguments cannot be lists, as the dict keys are used as titles. But titles are optional - they can be just set to None when calling `from_dict`.

[2017-05-04 02:43] ejholmes commented on #342
I've been thinking a bit about this. I think you could just subclass `stacker.blueprints.base.Blueprint` and override the [`render_template`](https://github.com/remind101/stacker/blob/master/stacker/blueprints/base.py#L455) method to just return some raw CloudFormation json. Atleast as a quick way to get existing stacks into stacker.

I guess the only problem then becomes namespacing; if existing

[2017-05-04 14:56] aarcro opened #380 "Full yml for environment file"
I don't see a way to hold a list of say CIDR netblocks in my environment file, which would be really handy.

With full yml in the environment file you could easily set any value in your config, right?

[2017-05-04 16:53] phobologic commented on #380
A long time back the environment file actually was full YAML, and it was a nightmare.  Interpreting YAML twice resulted in some strange edge cases for things like booleans (and others, can't remember exactly).  We made the choice to keep the environment file simple key/value pairs.

That said, you can hold a list of CIDR netblocks due to the fact that YAML has a compact format - for a list it's:

[2017-05-04 16:53] #380 closed

[2017-05-04 16:54] phobologic commented on #342
@ejholmes We really need to just create that plain cloudformation template blueprint class - it's been brought up many times, and it can't be all that hard to implement.  The namespacing shouldn't be a problem, since namespaces, for the most part, are only a concern inside a single stack, and the blueprint doesn't control what the stack is named.

[2017-05-04 18:38] aarcro commented on #380
Ok, I'll try that. Didn't know how the interpretation would happen. So the string from the Environment file will get text sub'd in before the YML config is parsed as YML? Suppose that makes sense.

[2017-05-04 18:46] phobologic commented on #380
@aarcro yep, that's exactly it.  Consider the config a template, and the environment the variables that will be substituted in, and once that's done the newly rendered template is marshalled as yaml.

[2017-05-04 22:34] ejholmes commented on #342
I meant that if you have stacker configured with a namespace, but you have existing stacks in CloudFormation that don't match that namespace, you can't really import those stacks into stacker.

[2017-05-08 22:32] #370 closed

[2017-05-12 05:10] ejholmes opened #383 "Can't disable stacks that have descendents"
This is in 0.8.6, so maybe fixed in 1.0 already?

You can disable a stack by setting `enabled: false` within the stack configuration, however, if you have a disabled stack, that depends on another disabled stack, you'll get an error.

For example, you can't actually do this:

[code]

Because, you'll get an error like:

[code]

[2017-05-12 22:02] sdechgan opened #384 "Cannot destroy individual stack with requires"
I cannot destroy an individual stack that is required by another stack

For example:

Here is my stacker.yml
[code]

Here is my command
[code]

I get the following error:
[code]

Isn't that the correct command to delete an individual stack?

[2017-05-12 22:09] phobologic commented on #384
I think we could definitely have a better error there, but I think the logic is pretty sound.  If stack3 requires stack2, then you shouldn't be able to destroy stack2 without destroying stack3 as well.

[2017-05-12 22:10] phobologic commented on #383
Interesting - yeah, we just need to disable lookup resolution on disabled stacks.  Makes sense anyways.

[2017-05-12 22:17] phobologic commented on #383
I'm really confused as to how it's even getting to line 209 (https://github.com/remind101/stacker/blob/0.8.6/stacker/actions/build.py#L209) if the stack is disabled, since this should skip the stack altogether: https://github.com/remind101/stacker/blob/0.8.6/stacker/actions/build.py#L186

Very strange.  Was set to say this was fixed in 1.0, since that's the logic I saw there, but if this is happen

[2017-05-12 22:43] sdechgan commented on #384
Shouldn't you be able to delete `stack3` without deleting `stack2`?  Logically, `stack2` doesn't need `stack3` to work properly because `stack3` was the last stack created.

That or I don't understanding is usage of the `--stacks` parameter.

[2017-05-12 22:43] ejholmes commented on #384
This looks like a legit bug when specifying `--stacks` with `destroy`, no? It errors out [here](https://github.com/remind101/stacker/blob/master/stacker/actions/destroy.py#L56) when trying to generate the plan.

`stack3` should only depend on `stack2` during a build. During a `destroy` the graph should be transposed, so that `stack2` depends on `stack3`. It's _likely_ that this is already fixed in

[2017-05-15 16:53] phobologic commented on #383
Hmm - haven't been able to reproduce this with a simple config, and @ejholmes thinks it may have been something else that was breaking, but in an expected way.  The bigger issue here is that in 0.8.6 we never gave a good idea of where something was breaking in the config - this has been worked on quite a bit in 1.X, so hopefully this should be easier once we're all moved.

[2017-05-15 16:53] #383 closed

[2017-05-16 20:51] aarcro opened #386 "Plan status clobbers CloudFormation logs"
When using -t to tail the CloudFormation logs, you probably don't want to be doing the Cursor.UP magic in LogLoopStreamHandler as it writes over the CF logs.

[2017-05-16 23:13] GarisonLotus opened #387 "stacker build without defining a variable referenced in yaml produces `UnboundLocalError` error without much info"
The `UnboundLocalError` is actually the intended behavior here and most of us would never run into this... However this standard error means nothing to someone who doesn't know python, not familiar with standard python errors, or is not able to dig into the code. A nicer error would be l nice. This issue is here so we can make this error a little nicer for someone launching a blueprint and yaml, b

[2017-05-16 23:24] GarisonLotus commented on #342
I agree Eric re: your namespace comment and have had that thought in the past when thinking about this. We would need some sort of "xref" like ability at the stack name level since any imported stack would not necessarily follow the standard stacker namespace.

Although I went the path of trying to cfn2py, I have a somewhat functional cfn2blueprint script in my fork and (if I can find the time) I

[2017-05-16 23:30] phobologic commented on #387
[code]

Just adding this here - it's the contents of the trace file @GarisonLotus provided.

[2017-05-17 13:48] GarisonLotus commented on #387
ok, so I did a little digging to look into this more and found out this is not the problem I originally thought.  I tried spinning up the regular bastion.py from stacker_blueprints and got this when I tried to forget to define a variable in the yaml:

Error with variable key missing from yaml:

That's a good error message. So I moved on. Then I tried it by doing what the user claimed, which was to

[2017-05-24 16:32] phobologic opened #390 "Be more specific w/ bad variable values"
[code]

Pretty sure we can be more specific with this error.

[2017-05-25 20:46] aarcro opened #391 "Documentation xref vs rxref"
Maybe this is just a documentation issue. I can't figure out what the difference is between `xref` and `rxref` lookups. Even the implementation looks exactly the same.

[2017-06-01 20:41] phobologic opened #392 "protected config for stacks"
Right now we have a few stacks (mostly RDS databases) that we've had locked for ever (basically since ew created them), and they haven't been updated via stacker that entire time.  Now, almost 2 years later, we're too afraid to actually run cloudformation/stacker against them because of what might happen.

This made me realize that `locked` is probably a bad pattern in the first place, though it w

[2017-06-02 22:54] GarisonLotus opened #393 "UX flow with initial stacker build failures and rollbacks"
# Feedback welcome - this is an open discussion item
I wanted to start a conversation regarding this: In stacker, when I run a stacker build on an initial deployment of a brand new stack that happens to fail, the stack itself goes into a ROLLBACK_IN_PROGRESS status eventually ending up in a ROLLBACK_COMPLETE state with no way to run build again.  This is the expected behavior with stacker as it ma

[2017-06-02 23:04] GarisonLotus commented on #393
Some ideas thrown around by @troyready and I at Sturdy:

- Upload a simple template that will always succeed first before submitting the stack, so the rollback has somewhere to go and allows a update stack operation. Kind of like what [serverless](https://github.com/serverless/serverless) does. (They submit a template first to create an S3 bucket, then perform an update against the stack.)

- Catc

[2017-06-02 23:51] GarisonLotus commented on #393
Related to issue #8

[2017-06-07 22:43] ejholmes opened #395 "Support for stack-level tags"
At the moment, you can provide a global set of tags that get applied to all stacks in a stacker config, but it would be handy to be able to be able to specify stack specific tags as well. For example:

[code]

[2017-06-07 23:33] phobologic commented on #395
Duplicate #172

[2017-06-07 23:33] #395 closed

[2017-06-08 21:47] russellballestrini commented on #288
I'm currently on-boarding with stacker myself and have been running in similar feels.  I plan to look into developing the `init` command over the next few weeks.

[2017-06-09 17:37] phobologic commented on #391
Hey @aarcro - it's a little confusing, I agree.  The way it works is this - assume a namespace of `my-example` and a stack being looked up of `vpc`:

output: Requires that the stack you're looking to get an output from is in your stack config, and allows you to use the relative name.  IE: As long as vpc is in your current stack config, output will automatically look for `my-example-vpc`.

xref: Do

[2017-06-09 17:54] aarcro commented on #391
I think I got it now. so rxref does the same name conversion that output does, but doesn't validate. So you could run the same env file, against two different YML files?

For my Use Case I tried xref and it worked. one env/yml for building a "non prod" environment VPC mostly. And then two different dev1.env dev2.env with the same app.yml to deploy two copies of the app in that VPC, pulled some thi

[2017-06-09 18:45] phobologic commented on #391
Yeah, that's it.  Basically xref & rxref behave exactly the same, only one (rxref) automatically appends the namespace to the stack name for you.

This is useful if, say, you want to break up a big config - but use the same namespace still across all the configs, so there's no reason to repeat the namespace for every output lookup, which you'd have to do if you used xref instead of rxref. It's mos

[2017-06-09 21:47] #387 closed

[2017-06-13 23:33] jamietsao opened #400 ""did not reach completed state""
I have a ECS cluster blueprint that creates the following resources:

- AWS::AutoScaling::LaunchConfiguration
- AWS::AutoScaling::ScalingPolicy (4 of these)
- AWS::CloudWatch::Alarm (4 of these)
- AWS::AutoScaling::AutoScalingGroup (2 of these)
- AWS::EC2::SecurityGroup
- AWS::AutoScaling::LaunchConfiguration
- AWS::IAM::InstanceProfile
- AWS::ECS::Cluster

After successfully building this stack,

[2017-06-15 00:14] jamietsao commented on #400
Update: This only happens with the `-i` interactive flag.  That's kind of frustrating ...

[2017-06-16 07:26] LyndonHook opened #402 "Global config"
It would be useful to set some top level configs on a global level. I'm not sure about all top level configs but "stacker_bucket" and "tags" (used for deployment branch and commit hash) are the same across all of our YAML files. What about adding a global config file for these? It removes the repetition and can be used to enforce global tagging standards on all blueprints etc?

[2017-06-16 12:06] LyndonHook opened #403 "More layered environment configs"
We are trying to create blueprints that can be reused across many applications. This generally means a lot of variables in the YAML file with environment configs. The problem is we need more layers in our config. We don't want to force the inclusion of all variables for every application. Some applications might require more variable changes than others. Some might not need to change any of the de

[2017-06-19 15:34] phobologic commented on #402
Hey @LyndonHook - thanks for the Issue, but I'm not sure exactly what you mean by a "global level".  Do you mean you want to be able to access top-level settings in your stacks themselves without repeating them?  or something else?

[2017-06-19 15:39] phobologic commented on #403
I could see having multiple environment files.  I don't think there'd be a good way to define "specificity" in the current layout (environment files are just key/value pair files), and I think there'd have to be a good reason to complicate that more (it used to be YAML, but interpreted YAML going into interpreted YAML leads to all sorts of annoying "features").

That said, you could just make it s

[2017-06-19 15:42] phobologic commented on #400
Hey @jamietsao - sorry for the delay, been getting crushed by work.  There is a fix that has been merged, but we haven't released yet: https://github.com/remind101/stacker/pull/389

It's a strange edge case that we haven't been able to determine the cause of (it hits some people all the time, others - like Remind - almost never).  It doesn't seem to correlate with stack size, stack count, or anyth

[2017-06-19 17:11] jamietsao commented on #400
@phobologic - thanks for the update!  Looking forward to the release.

In general, what's the recommended way of asking questions related to stacker?  Just post an issue like this?

[2017-06-19 17:59] phobologic commented on #400
You can always ask here, no worries. There's also the slack team, which you can join at: https://empire-slack.herokuapp.com/  - there's a #stacker there, and plenty of folks who use/contribute to the tool who can answer your questions even if I'm swamped :)

I'm going to go ahead and close this, since I'm certain that PR will fix your issues.  Let me know if you want me to re-open it :)

[2017-06-19 17:59] #400 closed

[2017-06-20 10:28] LyndonHook commented on #403
Thanks @phobologic. I suspected we would have to do some preprocessing of our own before passing the configs to stacker. I understand that this kind of structure would complicate what currently is a nice easy to understand config structure. We already have a shell script to simplify the execution and enforce some standards. I'll look into adding some kind of config consolidator into that.

[2017-06-20 10:34] LyndonHook commented on #402
A global config file for the top level YAML keywords. For example if I wanted to set the same stacker_bucket value for all my YAML configs I currently have to go through every YAML file and add the same value to each. It'd be nice to have a single global config for these situations.

[2017-06-20 18:04] phobologic commented on #402
@LyndonHook makes sense - I think this sort of relates to my answer in #403 - at this point a pre-processor may be the best bet.  Otherwise it makes things a bit more complicated, and I think config can be complicated enough :)  Does that sound valid to you?

[2017-06-20 18:06] phobologic commented on #403
Cool, yeah, I think the `<()` trick in bourne shell makes it pretty nice as well, and it keeps stacker out of complicated config management games.  Let me know if this becomes too cumbersome for you though, I'm not against this idea, it's just not high on the list of things that I think stacker needs/needs to have fixed for us, and I'd want to get the community involved with figuring out the right

[2017-06-20 18:06] #403 closed

[2017-06-21 08:49] LyndonHook commented on #402
Definitely valid. Thanks for the quick response 👍

[2017-06-21 08:52] LyndonHook commented on #403
I'd love to join Slack but unfortunately its blocked at my workplace. I'll also talk to my team about our options, the end result might be that we fork the repo and attempt our own implementation. We'll definitely try and involve the community on the best implementation if we do.

[2017-06-21 15:40] russellballestrini opened #408 "BlueprintTestCase adds extra `/`"
The `BlueprintTestCase` helper class is adding an extra `/` in between the OUTPUT_path and `blueprint.name`, as you can see in this example output:

[code]

**stacker/blueprints/testutil.py**

[code]

The fix is simple, remove the trailing slash from OUTPUT_PATH

[2017-06-22 21:58] #408 closed

[2017-06-22 22:23] #374 closed

[2017-06-22 22:27] #390 closed

[2017-06-22 22:33] phobologic commented on #374
Hey @evanjaaahn - sorry for the delay, but I just merged a PR that should fix this for you.  Thanks for the Issue, and sorry for taking so long!

[2017-06-22 22:33] phobologic commented on #374
BTW, planning to do a new release with this fix today/tomorrow.

[2017-06-23 09:33] ejholmes commented on #386
Hey @aarcro. I just opened https://github.com/remind101/stacker/pull/414 to fix this.

One quick workaround for the time being is to pipe to `cat -`, which will disable the loop logger:

[code]

[2017-06-23 18:42] GarisonLotus opened #416 "Potential regression in #413 - Previous stacker template bucket created in us-east-1 no longer usable if deploying into any other region"
In testing my PR, I think I found a regression in matser from PR 413.   I had a bucket in us-east-1 that has my templates.  This bucket already existed since I had been using stacker. When Stacker build calls the CreateStack CFN operation, boto is rejecting the request due to the templateurl being incorrectly set (or something like that... I have not looked at the code yet).

This is what I ran, i

[2017-06-25 23:01] #386 closed

[2017-06-29 23:01] GarisonLotus opened #421 "AttributeError when class_path is incorrect"
Wondering if we should catch this and make the UX a little cleaner for thouse who don't know Python well.  A developer I was working with tried (for way too long) to get their YAML config working, and weren't able to understand the below error message.  This was caused by a typo in the stack class path. Easy fix, but just a time waste as I wasn't available to immediately help and they couldn't und

[2017-06-30 17:42] phobologic commented on #421
Definitely, that's a pretty crappy exception.

[2017-07-01 00:18] jkalscheuer-sturdy opened #422 "Destroy stacks in CREATE_IN_PROGRESS status"
Running `stacker destroy` on a stack that is in the status of CREATE_IN_PROGRESS stacker shows that the stack has been submitted for destruction, but actually is waiting for the stack to finish creating. It would be nice if it started to delete it before the stack was finished creating.

[2017-07-02 17:14] GarisonLotus commented on #421
I looked into this today, turns out this specific error is just in staker 1.0.2... master has a different and much better error.

I'm going to close this issue because of this.

Stacker 1.0.2:
`AttributeError: 'module' object has no attribute 'something'`

From Master as of today:
`AttributeError: Stack class blueprints.CreateFunction does not have a "rendered" attribute.`

So, unless you disagree

[2017-07-02 17:14] #421 closed

[2017-07-02 18:13] GarisonLotus commented on #391
@aarcro -  I just updated the stacker documentation for lookups to (hopefully) clarify xref vs rxref. This is in PR #423.  Does the change I commited make sense to you to address your confusion?

You were 100% right - the rxref documentation was a real mess.  Looks like we had just copy/pasted most of the rxref section from xref. Thanks for bringing it to our attention.

[2017-07-03 20:34] phobologic opened #424 "Clean up error when missing stack config values"
This could be better:

[code]

[2017-07-03 21:39] phobologic opened #425 "Better handle bucket name length limits"
http://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html#bucketnamingrules
[code]

Right now we just throw a generic bucket name error:

[code]

We can probably do better and catch some of these rules earlier.

[2017-07-06 13:54] aarcro commented on #391
Thanks! that's much more clear. Explaining the usecase of multiple .yml files being run in the same namespace really helps it click.

[2017-07-06 20:24] jamietsao commented on #400
@phobologic - Any chance a release is coming out soon?

[2017-07-06 21:23] phobologic commented on #400
Sorry for the delay @jamietsao - https://github.com/remind101/stacker/releases/tag/1.0.3 is out now.  Please be sure to read the CHANGELOG entry (or the release itself) for some notes on some changed behavior.  For most people it's a no-op, but reading the docs will help with any confusion in case you're not one of those!

[2017-07-06 21:23] phobologic commented on #416
Fixed in #417

[2017-07-06 21:23] #416 closed

[2017-07-06 21:57] jamietsao commented on #400
@phobologic - Thank you!!!

[2017-07-06 22:14] phobologic commented on #352
Resolved with #418

[2017-07-06 22:14] #352 closed

[2017-07-06 22:32] phobologic commented on #402
Closing this - I think the pre-processor, as well as the ability to actually specify `-` as the stacker config file (which uses stdin) should be the best way to handle this without introducing more complexity to stacker's config handling.

[2017-07-06 22:32] #402 closed

[2017-07-06 22:33] phobologic commented on #350
Closing since #360 was merged!

[2017-07-06 22:33] #350 closed

[2017-07-06 23:15] phobologic commented on #327
Hey @discobean - have you been able to reproduce this in 1.0?

[2017-07-06 23:18] #391 closed

[2017-07-06 23:23] phobologic commented on #393
Thanks @GarisonLotus @troyready  - this is definitely a pain point.  Having stacker behave intelligently when a stack goes into a "bad state" is something I'd love to do, but it does introduce some complexity (not that I'm opposed).  Let me think about this some more - but all of your suggestions sound better than our current state.

[2017-07-06 23:24] phobologic commented on #377
Hey @danielkza - can you share a stacker config/blueprint that fails in the way you mention here?

[2017-07-06 23:55] danielkza commented on #377
I believe the TroposphereType rework might have fixed this already.

[2017-07-06 23:58] danielkza commented on #393
Is it possible to detect if a stack has failed when running it's initial setup? It's a pretty annoying case that I run into pretty often. I make some mistake in the initial version of the stack, but I have to manually delete it in the console just to re-run stacker after a fix. Since there should be no resources left at all (since they didn't exist before the first run), it should be safe to force

[2017-07-07 00:00] phobologic commented on #377
Awesome - I'll let you close it if you feel comfortable with that, or if you get a chance to validate it.  Thanks!

[2017-07-07 00:29] GarisonLotus commented on #393
@danielkza - unfortunately, AWS doesn't give us many options here.  If your initial stack fails, the only option you have, is to delete it... even in the console.  Yes it's annoying, and that's what this issue is asking to fix.

A bunch of developers I work with have chosen Serverless Framework when they had the option, over stacker, because of this issue... so I understand. (Serverless got around

[2017-07-07 05:23] danielkza opened #428 "`stacker info` fails with traceback"
Using newly released stacker 1.0.3 (rev 60694300bc05c2c1).

[code]

[2017-07-07 16:56] #428 closed

[2017-07-07 17:06] danielkza commented on #393
Could we tag the stack with a marker indicating it is the first time it is being run, and delete it automatically if it fails *and* has the marker?

[2017-07-07 17:24] phobologic commented on #428
Should be fixed in 1.0.4 (just released) - thanks @danielkza

[2017-07-07 17:29] troyready commented on #393
I think it'd be best to have that be a query to the user to delete it, but yeah I agree that automating it would be good.

[2017-07-07 18:35] danielkza commented on #393
Maybe we could overload `--force` to allow deleting a stacked that failed its initial run.

[2017-07-08 05:57] syphon7 commented on #425
Do the bucket names need to be DNS compliant in Stacker? It looks like you can create names longer than 63 characters.

[2017-07-11 05:54] ejholmes opened #437 "Better functional testing suite"
We've talked about this internally a bit. We definitely need a better functional testing suite that actually exercises all of the stacker commands. Even just some "sanity" tests would provide a lot of value, and prevent breakages in commands that don't get run manually very frequently.

[2017-07-12 22:06] phobologic commented on #437
I agree - I'd love to discuss this more.  It'd be good to come up with an initial implementation list.

[2017-07-12 22:35] phobologic commented on #425
Hmmm - I think they do, because of the way that Cloudformation addresses them.  This is worth investigating more.

[2017-07-12 22:46] #361 closed

[2017-07-18 18:40] troyready opened #441 "stacker script doesn't work out of the box on Windows"
Windows doesn't do the right thing with [scripts/stacker](https://github.com/remind101/stacker/blob/1.0.4/scripts/stacker) -- just having the shebang at the top of the file doesn't get the python interpreter invoked.

Looks like awscli handles this by shipping a [separate invocation script for windows](https://github.com/aws/aws-cli/blob/1.11.121/bin/aws.cmd).

[2017-07-18 18:41] troyready commented on #441
In PowerShell, a workaround for this is to set an alias in your PowerShell profile: ```Add-Content $PROFILE "`nfunction stacker { python c:\Python27\Scripts\stacker `$args }"```

[2017-07-19 22:24] justinkillen opened #442 "Environment variables should be evaluated after yaml parse"
When there is a variable in the yaml that isn't defined the stack fails as expected.  If I disable that stack, it still fails.  If I comment out the line, it still fails.  It seems like the variable replacement should be moved until after the yaml parse, or maybe the variable replacement to be taught to ignore disabled and/or commented lines

[2017-07-20 01:06] ejholmes commented on #442
I've run into this problem a few times as well in the past. Although vars from the environment file look similar to lookups, evaluating happens more like rendering a template.

I think it'd probably make sense to deprecate the `${var_name}` syntax, and make it a lookup like `${env var_name}`, which would solve this problem I think.

Another way around this is to just not rely on stacker's environm

[2017-07-20 19:48] syphon7 commented on #442
I run into this issue regularly when developing new stuff. It would be great if we parsed it earlier - I think the idea of defining it as an env lookup makes a lot of sense.

[2017-07-21 06:40] ejholmes commented on #442
@syphon7 lookups get processed at runtime, as needed, whereas env files are processed like a template as one of the first steps of a stacker build/destroy.

The `stacker.yaml` file gets interpolated as a [strings.Template](https://docs.python.org/2/library/string.html) using the env file as data. Then this "rendered" template is what is passed down throughout stacker:

https://github.com/remind101

[2017-07-21 16:57] sathed opened #444 "Support for Native CloudFormation Templates"
We tried Stacker and the idea is great and well executed. The problem is that we have a bunch of stacks already written in Troposphere that output JSON/YAML CF templates. What would be the possibility of adding native support for these? It wouldn't be difficult to import the Stacker package(s) into the Troposphere templates and call something like

[code]

Or something similar. You could even wrap

[2017-07-21 17:05] phobologic commented on #444
Hey @sathed - we've talked about this in the past, and it doesn't seem (on the surface) like it would be too difficult for the base case - ie: build/destroy.  Where it *might* get tricky is with things like diff/dump, but maybe not.  It hasn't been a top priority for the maintainers since we're pretty happy with the blueprints as they are - and there's thoughts that you could actually just create

[2017-07-22 05:47] ejholmes commented on #437
We now have a functional test suite.

[2017-07-22 05:47] #437 closed

[2017-07-24 19:20] syphon7 opened #446 "Force Type"
@phobologic had a good idea - forcing a type on a lookup.

This would allow you to cast things on the fly:

Example:

`${force_type <value>::<type>}`

[2017-07-24 20:56] phobologic commented on #441
#447 didn't fix this - but did fix an installation issue on various platforms.  Re-opening this in case someone wants to tackle it - I don't have access to a windows machine to work on this myself.

[2017-07-24 22:57] ejholmes opened #448 "MissingEnvironment sometimes isn't raised"
We noticed this happen internally, where a key that was specified in remind.yaml, was missing in the env file, but stacker never raised `MissingEnvironment`. The reason it never gets raised, is because when we call [t.substitute](https://github.com/remind101/stacker/blob/e7e0e02575bbbc162249af7ceb2418f50b9b06d2/stacker/config/__init__.py#L84), if the `strings.Template` parser first hits a lookup (

[2017-07-25 03:32] ejholmes commented on #424
This is better after https://github.com/remind101/stacker/pull/443.

It still raises an exception, but shows you specifically what stack has the problem.

[2017-07-25 03:32] #424 closed

[2017-07-25 03:34] ejholmes commented on #442
Just realized that an `${env ...}` lookup wouldn't actually work for this, since those are only available inside variables.

[2017-07-25 03:40] ejholmes commented on #375
Setting `namespace: ''` is supported, and environments are optional, so really the only missing piece from this is profiles. Gonna close.

[2017-07-25 03:40] #375 closed

[2017-07-26 22:55] 1ab23c opened #456 "Programatic usage required"
I have a use case where non-technical staff need access to build and destroy stacks. My goal is to put a simple web interface in place over top of whatever (trying to move away from my hand-coded stack builder). I can mimic command-line usage to run stacker commands, but have a sticking point with access to things like the output of ``info``. Is there any documentation or suggestions on how I can

[2017-07-27 03:21] ejholmes opened #457 "Adding a CFNType variable to a blueprint with no value breaks"
Given you have a blueprint with no variables that's already been deployed, if you add a variable that uses a CFNType, and don't specify a value for it in `stacker.yaml`, then updating the stack will fail:

[code]

[2017-07-28 20:54] #172 closed

[2017-07-28 21:04] phobologic commented on #457
Iiiinteresting. It probably happens when it goes to lookup the previous value.  Should be an easy fix.

[2017-07-28 21:07] phobologic commented on #456
Hey @1ab23c - thanks for the issue.  There currently isn't any attempt to document the best way to use stacker as a library, other than to share the API documentation.  That said, a little while back someone asked a similar question in the stacker Slack team, and @ejholmes provided some guidance here:

https://gist.github.com/ejholmes/1cd43e07bbb761e5544bcac826b10daf

Does that help?

[2017-07-28 21:08] phobologic commented on #448
Hrm, yeah, that's going to be a more annoying one.  Thanks for pointing this out.

[2017-07-29 01:04] 1ab23c commented on #456
I'll have a play with that approach. What I _have_ been using is code re-purposed from a test class (test_stacker) which uses parse_args to process an list of command-line arguments:

where the name is "info", or "build" etc. and env and cfg are file paths.

My main stick point, however, is logging. I assumed that I could just add another handler to the logger object in either the main Stacker cla

[2017-07-29 09:48] 1ab23c commented on #456
I fixed the logging issue - a problem with my lack of familiarity with python logging :( - and now have working code that parses the configuration and environment files to build the context arguments; it all seems to work well. Maybe a section could be added to the documentation with the code from @ejholmes and some explanation. Other than that I'm happy to close this issue.

[2017-08-09 07:00] ejholmes opened #461 "Make hooks a part of the dependency graph."
At the moment, the lifecycle around hooks are pretty basic:

1. `pre_build` runs before stacker does anything to stacks
2. `post_build` runs after stack does everything to stacks

It would be nice if hooks were just a part of the dependency graph, like stacks are, so that you can reference outputs from hooks, and use them as inputs to stacks and vice/versa.

For example:

[code]

Instead of stacke

[2017-08-17 23:14] GarisonLotus opened #463 "`KeyError: 'Replacement'` thrown by interactive.py when stacker build used with `--replacements-only` on simple SG addition"
tested with Stacker 1.0.4

Our automated builds get triggered based on changes in a git repo. To be safe, we execute the stacker build with the `--replacements-only` flag in interactive mode. I ran into an issue and I have narrowed down a repeatable test cause where I could cause stacker to crash when I simply tried to add a single additional security group rule to an existing ruleset in a CFN sta

[2017-08-20 10:00] noiter opened #465 "stacker python 3 support"
When I was running command `stacker --version`, it showed me below error,

`Traceback (most recent call last):
  File "/Users/mz/.pyenv/versions/3.6.2/envs/stacker_venv/bin/stacker", line 3, in <module>
    from stacker.commands import Stacker
  File "/Users/mz/.pyenv/versions/3.6.2/envs/stacker_venv/lib/python3.6/site-packages/stacker/commands/__init__.py", line 1, in <module>
    from .stacker i

[2017-08-20 22:29] phobologic commented on #465
Thanks for the bug report, @noiter - unfortunately stacker does not currently support Python 3.  I'll leave this open though (and modify the subject) in case anyone wants to take this on.

[2017-08-21 19:59] GarisonLotus commented on #463
Some more detail here in case someone was wondering... this issue is actually happening because a changeset is generated, but no changes require replacement WHILE the --replacments-only flag is set. I suspect this is not a common scenario, which is why it went unnoticed. Fixing by checking with an `if` statement to see if the key is there at all, before checking what the key is.

[2017-08-22 21:55] GarisonLotus commented on #463
ok, I wrote a functional test for this in PR #464, it tests by using the Dummy mock blueprint to create a simple waithandler, then runs a build again in interactive mode with `--replacements-only` set to force the function to be utilized using the Dummy2 blueprint against the same stack where a second waithandler is added and a changeset being generated showing the additional resource only.  This

[2017-08-29 17:38] #463 closed

[2017-08-29 17:38] GarisonLotus commented on #463
Closed issue - merged PR #464

[2017-08-30 05:11] #392 closed

[2017-09-06 14:39] colwilson opened #475 "Add an optional description to stacks"
Can we have the option to add a description to a stack?

[code]

[2017-09-09 00:37] phobologic commented on #475
@colwilson it should be possible - kind of interesting, the description is actually provided by the template itself.  What would you imagine the behavior would be if the blueprint/template had a description, but you put one in the config?  Should the config win, or the blueprint/template?

Thanks for the request!

[2017-09-09 07:34] colwilson commented on #475
Yes I think the config should override a default in the template.

[2017-09-13 18:35] phobologic commented on #8
Fixed in #473

[2017-09-13 18:35] #8 closed

[2017-09-13 18:35] phobologic commented on #393
Fixed in #473

[2017-09-13 18:35] #393 closed

[2017-09-17 06:19] phobologic commented on #475
Hey @colwilson - see #477 for a first stab at this.

[2017-09-17 06:21] phobologic commented on #456
@1ab23c I'd be all for a new section in the documentation - if you're up for it, please submit a PR - otherwise I'll leave this open and change the title so someone can pick it up when they get the chance.  Thanks again!

[2017-09-17 12:55] colwilson commented on #475
Looks good to me. Good work!

[2017-09-17 18:37] phobologic commented on #347
Hey @dgarbus (and @mchristen, since you :+1:'d the idea), I know it's been a while, but I've taken a crack at implementing this here:

https://github.com/remind101/stacker/pull/478

Let me know what you think.

[2017-09-17 18:38] phobologic commented on #377
@danielkza I'm going to go ahead and close this - if you run into it again, please feel free to re-open!  Thanks.

[2017-09-17 18:38] #377 closed

[2017-09-17 19:16] lecole opened #479 "Rout exception on build"
I got this error using the latest released version and latest master version. Not exactly sure where to look to fix this issue. The same configuration and environment files worked two months ago.

[code]

[2017-09-18 05:57] LyndonHook opened #480 "Lookups cause infinite loop when Python typecasts the value to False"
The below line causes lookups to go into an infinite loop when the value is an empty string, zero or False. Basically any value that Python casts to False.

https://github.com/remind101/stacker/blob/master/stacker/variables.py#L114

I'm wondering if this is by design? If not can we change it to something like the below?
[code]
Happy to create the PR for it too.

[2017-09-18 16:11] #475 closed

[2017-09-18 16:19] phobologic commented on #480
Hey @LyndonHook - thanks for the report.  An infinite loop isn't intentional :)  That said, I have yet to see this issue.  Can you give a sample config/blueprint/environment that would cause this?  Also what version of stacker are you seeing this in?  Thanks!

[2017-09-18 16:23] phobologic commented on #479
Thanks for the report @lecole - this looks like something from troposphere, specifically this commit:

https://github.com/cloudtools/troposphere/commit/25c40f6c5b40dd5ecbef756475c63c949deb4c31#diff-9f362bd8dff71f923a675c22e898f23aR334

It looks like only a single gateway_cond can be provided now - are you providing more than one of those in your blueprint/config?

[2017-09-18 16:35] dgarbus commented on #347
Looks good to me! Thanks 👍

[2017-09-18 16:54] phobologic commented on #347
Thanks!

[2017-09-18 17:39] lecole commented on #479
Hi @phobologic, I'm actually using the example config from the sample in the stacker_blueprint https://github.com/remind101/stacker_blueprints/tree/master/conf/empire.

[2017-09-18 18:16] russellballestrini opened #481 "Documentation issue regarding TroposhereType"
Our documentation regarding how to pass stack config for a `TroposphereType` is invalid for
`AWSResource` but valid for `AWSProperty`.

The `AWSResource` objects require a title so we have to nest them the same way we nest the "many" case.

Reference: https://stacker.readthedocs.io/en/latest/blueprints.html#example

[2017-09-18 19:54] phobologic commented on #481
@russellballestrini It's just the example config that is wrong, correct?  This part in particular:

[code]

?

[2017-09-18 20:13] russellballestrini commented on #481
Yes.  For example (https://github.com/remind101/stacker_blueprints/blob/master/stacker_blueprints/aws_lambda.py#L230-L237)

I initially tried the following stack config:

[code]

But I had to do this instead:

[code]

[2017-09-19 00:21] LyndonHook commented on #480
The scenario I have is based on custom lookups that return integer values or boolean values. Although you can replicate it with the default lookup using a blank default value.

`CertificateArn: ${default certificate_arn::}`

The above sets the default value to an empty string which evaluates to False. If `self._resolved_value` is "False" then the original value is returned causing `self.lookups` a

[2017-09-19 06:02] Fabbbrrr opened #482 "Loading files as parameter fails using multiple config files with '<()'"
We are trying to use the file lookup to load some external files for cfn-init/userdata and found a problem with our setup. A few weeks ago, a colleague raised this question regarding multiple configs: https://github.com/remind101/stacker/issues/403

The solution was just to use '<()' in the bash script to load multiple config files and pass a file descriptor to stacker.

It worked well until we st

[2017-09-19 23:27] #265 closed

[2017-09-20 17:20] phobologic opened #483 "Use Schematics to define `VARIABLES` in blueprints"
We use it in our config system already, and it'd allow us to do deeper validation of variable types.  There are plenty of places where we accept a `dict` as a variable, then do validation in the blueprint itself.  This would allow us to skip that, and it'd also make it easier to read/display/share what the actual schema is of the variable.

[2017-09-20 18:13] #481 closed

[2017-09-20 19:57] russellballestrini commented on #295
@mwildehahn I just created this - which solves the `stacker init` portion of the workflow https://github.com/remind101/stacker_cookiecutter

[2017-09-20 20:21] russellballestrini commented on #288
Another update: I converted my `stacker-helloworld` into a `Cookiecutter` project template:
 https://github.com/remind101/stacker_cookiecutter

Assuming `Cookiecutter` is installed the usage is really simple:

[code]
A new project directory will be created in your present working directory.

[2017-09-22 17:41] phobologic commented on #482
Hey @Fabbbrrr - yeah, that issue makes a lot of sense.  Honestly, there's probably not a good answer to this out of the box.  A more genericized version of this would be pretty difficult actually - if you have multiple config files, and they are in different directories, how do I choose the root directory to look for the `file` lookup?  We could say only the first config.

All that said, I think s

[2017-09-22 17:51] phobologic commented on #480
Ok, yeah, I think your suggested fix is probably the right thing to do.  I can't think of a case where the resolved value should be None.  If you want to submit a PR that'd be awesome :)  Thanks @LyndonHook

[2017-09-22 17:52] phobologic commented on #479
Ahh, ok, - that seems like a bug with that blueprint.  To be fair, it's been a while since that blueprint has been touched, so it's likely pretty out of date.  I'm going to close this here, but if you could open an Issue in the stacker_blueprints repo that'd be awesome.  Thanks for reporting this, @lecole!

[2017-09-22 17:52] #479 closed

[2017-09-22 17:54] phobologic commented on #465
Hey @noiter - just wanted to give you a heads up that I took a stab at this about a week ago, and it got trickier than I expected. It's likely largely due to my total lack of experience with python 3 or converting python 2 apps to python 3.

I've added the `help wanted` tag to this, in case someone who is more experienced with it wants to take a stab.  I'll try to get back to it at some point - bu

[2017-09-22 17:57] phobologic commented on #256
Hey @jonathanunderwood - I believe this should have been mostly fixed by #410.  I'm going to go ahead and close this, but feel free to re-open if that doesn't fix it for you.  Thanks!

[2017-09-22 17:57] #256 closed

[2017-09-22 17:58] phobologic commented on #264
This proved to be painful in the end, due to the eventual consistency issues w/ Cloudformation & SNS.  Going to close this - we have other ideas on how to make this better.

[2017-09-22 17:58] #264 closed

[2017-09-22 18:32] jonathanunderwood commented on #256
Great, thanks Michael. Will give it a test when I have chance.

[2017-09-22 20:15] phobologic commented on #93
Closing in preference of #461

[2017-09-22 20:15] #93 closed

[2017-09-22 20:16] phobologic commented on #242
This was handled for the most common issues we hit in https://github.com/remind101/stacker/pull/473, closing.

[2017-09-22 20:16] #242 closed

[2017-09-22 20:18] #123 closed

[2017-09-22 23:13] ejholmes commented on #482
Should the `${file ...}` lookup just use `$PWD` as the base path?

@Fabbbrrr if you're already generating a stacker config in a `<()`, you could just inline the contents of the file there, instead of using stacker's `${file }` lookup.

[2017-09-23 22:58] lecole commented on #479
@phobologic Sure thing.. Thanks for looking into it.

[2017-09-24 23:47] #347 closed

[2017-09-25 16:19] ekenstam commented on #342
@GarisonLotus I'm interested in your cfn2blueprint script. I have a bunch of raw CFN that I want to use as Stacker blueprints, until I have a chance to convert them to Troposphere. Would your script do the trick? Can give a pointer to where that code is in your fork? Or did you come up with a better way to solve this problem?

[2017-09-25 16:46] GarisonLotus commented on #342
@ekenstam - My script was never finished and I ended up not needing the ability in the job I was working at the time, but you are welcome to see if it helps.  Here is the script itself in my own fork: https://github.com/GarisonLotus/stacker/blob/cfn2blueprint_script/scripts/cfn2blueprint

Make sure to read over the docstring before you use it. I have used it previously, but the output still requir

[2017-09-25 18:52] ralph-tice commented on #342
Along these same lines, I have some WIP for cfn2py for YAML support -- complicated by the `!Ref` shorthand functions... https://github.com/ralph-tice/troposphere/commit/49a7a04fb2de01e5bd908c9939989bd78a44a564

[2017-09-29 07:43] gabriellhrn opened #485 "Add support for CloudFormation Stack Termination Protection"
CloudFormation now allows us to enable Stack Termination Protection, which works similar to the EC2 termination protection. We can enable it while creating the stack. When termination protection is enable, CloudFormation won't delete the stack unless we explicitly disable the protection. There are more information about this in the [announcement](https://aws.amazon.com/about-aws/whats-new/2017/09/

[2017-09-29 16:38] phobologic commented on #485
Thanks @gabriellhrn - can you give an idea of how you would expect this to work in stacker?

Would it be a configuration setting on a stack by stack basis?

Would you expect for stacker to have a way to automatically remove the protection if some command argument, etc, were provided?

What should stacker do if someone calls `destroy` and it hits a stack that is protected, yet `--force` was provide

[2017-10-01 10:02] gabriellhrn commented on #485
My idea is to add a new optional parameter in the [stack configuration](https://github.com/remind101/stacker/blob/master/docs/config.rst#stacks). If the parameter is set to `True`, we can then enable the termination protection using [CloudFormation Stack Options](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-console-add-tags.html) when creating the CloudFormation Stack.

I thin

[2017-10-08 20:33] phobologic commented on #485
Thanks @gabriellhrn - that helps.

So `stacker destroy` doesn't delete/destroy any stacks by itself, you have to call it with `--force` to make it actually destroy a stack (otherwise it just lets you know what it plans to destroy).

Maybe if we have the termination protection configured via a config option, we can only allow destroying it if the config is later set to False.

I'll think about it s

[2017-10-09 21:02] justinkillen opened #491 "Build should fail when duplicate stack names exist in a template"
If/when a template has the same stack defined twice (as happens with a bad copy/paste), it should fail validation and abort the run.

[2017-10-09 21:07] phobologic commented on #491
Thanks @justinkillen!

[2017-10-09 23:49] russellballestrini commented on #491
@phobologic I would like to try to tackle this.

[2017-10-11 02:35] ejholmes opened #492 "Handle S3 eventual consistency better?"
Every once in a while, I get an error like this:

[code]

From http://docs.aws.amazon.com/AmazonS3/latest/dev/Introduction.html:

So, if I'm understanding that correctly, because a do a `head_object` before uploading the template, it's making that key eventually consistent?

[2017-10-17 02:24] LyndonHook commented on #480
#494

[2017-10-18 16:56] GarisonLotus opened #495 "`stacker.util.ensure_s3_bucket` function does not tag S3 buckets created"
Currently S3 buckets created by stacker do not have any tags, even if that bucket is created on a stacker build run with a stacker config yaml defining tags.  This is because the `ensure_s3_bucket` function imported by base and aws_lambda do not submit tags to the function.

We should probably tag the S3 buckets. My concern is not the buckets storing the json templates, but the buckets created for

[2017-10-18 17:05] phobologic commented on #495
I think automatically providing some tags could be a good idea - probably at least `stacker_namespace`?

It's always bothered me that https://github.com/remind101/stacker/blob/ecd8933d715da8ede5b0d6e6d1e98bd827ff6b43/stacker/context.py#L97 removed the `stacker_namespace` tag automatically if you provided any of your own, seems like there's very little to remove that tag in the first place, and is

[2017-10-18 17:35] GarisonLotus commented on #495
Yeah - I have been manually adding in the stacker_namespace tag in my configs to get it back in there... I so I guess I agree with you since I had workarounds in place to deal with the same thing.

I think the the tags function in stacker.context should be a seperate issue though. It's a valid one.

[2017-10-18 17:36] phobologic commented on #495
Definitely a different issue - just wanted to make sure we don't make the same "mistake" here :)

[2017-10-18 17:42] GarisonLotus opened #496 "When specifying the tags TLK, stacker removes the stacker_namespace tag"
This is more of a bother than a real issue.  When a stacker config yaml has tags defined, it removes the default stacker_namespace tag.  This is not necessarily the expected behavior.

https://github.com/remind101/stacker/blob/ecd8933d715da8ede5b0d6e6d1e98bd827ff6b43/stacker/context.py#L97

When tackling this issue, we have to be cautious of end-users who have workarounds in place to add the stack

[2017-10-18 17:47] GarisonLotus commented on #495
@phobologic  - Fourth potential feature needing to be included, updating tags on subsequent runs... as in, I have hundreds of S3 buckets already deployed by this function (the aws_lambda hook gets some love), and I want to be able to rerun the stacker yaml and have the `ensure_s3_bucket` function drop the tags into place. Thoughts?  This would not be backwards compatible if I added it in there.

I

[2017-10-18 18:09] phobologic commented on #495
That sounds fine to me - I don't think anything would be broken by adding tags.  The bigger question is what it's going to do for performance - I imagine you'd either update the tags every time, or you'd do a `get_bucket_tagging` call to see if anything should change first.  My guess is that updating the tags is a single call that is probably just about as fast as a call to get_bucket_tagging, so

[2017-10-18 18:10] phobologic commented on #496
Yeah, I think the only tag we would probably add by default is `stacker_namespace` - and we can just skip adding that if it is manually defined already.  Thanks for adding this, @GarisonLotus!

[2017-10-21 20:38] #10 closed

[2017-10-24 18:12] danielkza opened #498 "Build with --dump option fails to create intermediate directories"
Using stacker 1.1.1, trying to dump a multi-stack config run fails with the following traceback:

[code]

[2017-10-26 04:51] shakerky commented on #498
Adding some debugging into /usr/local/lib/python2.7/site-packages/stacker/plan.py:
[2017-10-26T15:41:54] directory: ./dump
[2017-10-26T15:41:54] filename: stack_templates/vpc-dev-01-vpc/vpc-a968b133.json

It does the os.makedirs on 'directory', then open on directory/filename

[2017-10-26 16:16] russellballestrini commented on #491
@justinkillen what version of stacker are you running and is your YAML `stacks` stanza a `dict` or a `list` of `dicts`?

I think #500 will fix your issue but I need a bit more info to know for sure.

[2017-10-26 18:06] #491 closed

[2017-10-26 19:15] russellballestrini commented on #480
Resolved by #494

[2017-10-26 19:15] #480 closed

[2017-11-03 21:56] justinkillen commented on #491
We were using 1.0.  Updated to 1.1.2 and can confirm that it is fixed.

[2017-11-03 22:10] russellballestrini commented on #491
@justinkillen thank you for following up!

[2017-11-06 18:03] #498 closed

[2017-11-10 01:15] dkondratovych commented on #288
`init` would help a lot, it's not clear that `python setup.py install` should be executed

[2017-11-14 21:30] Lowercases opened #506 "Stacker's yaml linter rejects duplicated dict entries"
A stack setup like
[code]
used to work, however a check for duplicated entries was introduced in https://github.com/remind101/stacker/pull/500 and "overriding" a previous value is no longer possible.

This may break existing setups.

[2017-11-15 17:13] GarisonLotus opened #508 "CreateChangeSet occurs for every stack on every run, but change sets are never deleted"
Every Stacker run executes a Create Change Set API call on every stack to determine if changes exist for specific stack.  These change sets are not deleted and there is indeed a max number of change sets allowed. The change sets are cleared only when stacks are updated, when the change set is executed.   When the limit is hit, stacker is no longer able to run.  The exception thrown is below:

Comm

[2017-11-15 17:31] russellballestrini commented on #508
Wow we just ran into this less then a week ago. We see that Stacker also doesn't clean up "FAILED"  change sets which I think is the bigger issue. FAILED changesets occur most often when developing a new blueprint.

[2017-11-15 19:22] GarisonLotus commented on #508
Yeah, I suspect it has to do with interactive mode... but havn't looked into it yet.  When I briefly looked at the provider when I first ran into it, it seemed to me that the change set failure was intentional. Almost as if we expected a failure because the failure is how stacker knew the deployed stack had not changed.

Anyways, I haven't really dug into it yet... only enough to figure out how to

[2017-11-15 21:55] russellballestrini commented on #508
@GarisonLotus if you want to post your cleanup Python script here it might act as a starting point for adding it into stacker.

[2017-11-17 02:33] ejholmes commented on #508
I just ran into this. When you run stacker in interactive mode, it will always create a change set, and if there's no changes the change set will be "FAILED" and never removed by stacker. The interactive provider should just delete the changeset if there's no changes.

[2017-11-19 11:07] colwilson opened #509 "I can't define a environment based namespace anywhere except in an environment variable"
Despite being told that defining namespace in the the environment , I can't actually do it any other way.

How can I get the config to use **myproject-dev**, **myproject-test** etc without using the environment?

[2017-11-20 04:27] xiaket opened #510 "file lookup should not be nested"
Currently all lookups are nested, so after stacker has resolved some vars, it will load the resolved var and try to do another round of lookup until it cannot find any lookups in the produced value. However, this has brought some issues in my user case. I'm using file lookup to reference some file content for userdata, which in turn contains some bash logic. stacker is expected to resolve the firs

[2017-11-20 17:23] phobologic commented on #510
Thanks @xiaket - I can see how that would cause problems.  Have you tried escaping the variables in the userdata?  I'm actually not sure if that would help or not - the other option, which is definitely a work-around, is to not use the curly braces in the shell script.

If escaping doesn't help, I'm not sure what the right thing to do here is.  People do find the nesting of lookups useful, and I c

[2017-11-20 17:24] phobologic commented on #509
@colwilson What version of stacker?  What error are you getting?  Can you share your environment/config?  Thanks!

[2017-11-20 20:19] xiaket commented on #510
Thanks @phobologic! I'm sure that escaping the variables in the userdata would work, but I think that does not solve the issue that we are facing: stacker lookup should not impose any requirements on the userdata file or any file in general.

I understand your concern that if we change the file lookup handler so that it does not go deeper, it could break someone's setup so it is not desirable. How

[2017-11-22 13:09] colwilson commented on #509
1.1.1 I think, but it works now on 1.1.2

`stacker build -e namespace=myproject-dev stacks.yaml`

this can be closed now.

[2017-11-22 17:22] phobologic commented on #509
I think this doc should explain it for the most part - let us know if it's missing something! https://stacker.readthedocs.io/en/latest/config.html#namespace

[2017-11-22 18:05] #508 closed

[2017-11-22 18:15] aarcro commented on #384
Still busted in 1.1.2 I'd really like to be able to destroy a single stack. Just going to nuke it from CloudFormation directly I suppose.

[2017-11-22 18:16] GarisonLotus commented on #508
[changeset_nuke.py.zip](https://github.com/remind101/stacker/files/1497101/changeset_nuke.py.zip)

@phobologic and @russellballestrini - this is our hack job to fix the glitch on previously created change sets.  It's hacky, but works.

[2017-11-23 10:08] colwilson commented on #509
I'm still confused. If I do:

`
stacker build -e namespace=myproject-dev stacks.yaml`

I get:

`
DEPRECATION WARNING: specifying namespace in the environment is deprecated. See https://stacker.readthedocs.io/en/latest/config.html#namespace for more info.
`

But if I add this to stacks.yaml:

`
namespace: ${prefix}
`

and run:

`
stacker build -e prefix=myproject-dev stacks.yaml
`

I get:

`
stacke

[2017-11-28 16:23] colwilson opened #514 "upload_lambda_functions zips break on Windows 10"
I'm using stacker.hooks.aws_lambda.upload_lambda_functions under git bash on Win10.

Winzipped simple nodejs script with a node_modules uploaded and works find, but using the hook  the lambda function fails with the "Unable to import module 'handler': Error" which when Googled is often reported to be a zip problem (admittedly on stackless usually).

handler.js
`const cheerio = require('cheerio')

[2017-11-29 17:59] Evnsan opened #515 "Tail (-t) breaks if aws spend more than 5 seconds to start the stack."
Hey folks, I am facing this problem when trying to deploy a stack with asg and codedeploy. Do you think it's a big deal?

[code]

stacker/providers/aws/default.py:
[code]

[2018-01-05 00:18] troyready commented on #514
Curious if you're still experiencing this @colwilson ? If so, can you share the layout of the zip file (the CFN stack will show the S3 bucket where it was uploaded) and identify what should be different in it?

[2018-01-05 00:20] troyready commented on #506
This should be fixed in 1.1.3 (via #507 )

[2018-01-05 05:03] phobologic commented on #506
Thanks @troyready

[2018-01-05 05:03] #506 closed

[2018-01-05 20:12] #441 closed

[2018-01-10 20:56] russellballestrini opened #522 "Deal with throttled calls to`DeleteChangeSet`"
We should throttle calls to `DeleteChangeSet` otherwise Stacker quits prematurely with the following:

[code]

[2018-01-10 21:09] phobologic commented on #522
Rather than throttle the calls, we should wrap the call to DeleteChangeset in `retry_on_throttling` https://github.com/remind101/stacker/blob/48736e6c99eb57c4f096df7ec437ac505f62e31d/stacker/providers/aws/default.py#L47

[2018-01-13 23:41] phobologic commented on #515
Hey @Evnsan - sorry for the delay in getting back to you, the re:Invent + the holidays took up a lot of my focus.  This does seem like an issue, though honestly I'm not sure what the solution is.  We could increase the # of retries it allows, though I'm not sure what the right balance is.

To be honest, we rarely (hardly ever) use `--tail` at Remind, so I'd love a little guidance on what you (and

[2018-01-13 23:41] phobologic commented on #514
Ping @colwilson

[2018-01-14 14:44] colwilson commented on #514
Yes, sorry I'll update this when I get the environment set up again.

[2018-01-30 15:49] colwilson-mo commented on #514
This breaks on Windows 10 even if I don;t use Stacker, so it is something else entirely.

We can close this.

[2018-01-30 15:51] colwilson commented on #514
This breaks on Windows 10 even if I don;t use Stacker, so it is something else entirely.

We can close this.

[2018-02-01 02:43] ejholmes opened #527 "Remove loop logger?"
The "loop logger" was originally added to try to make the log output a little more user friendly, however, having been using this on a large stacker.yaml for a while now, I feel like it hasn't really achieved that goal and hasn't scaled well.

There's a few problems with the loop logger:

1. Since the status is ordered with dependencies first, on a large stack config you won't actually see any use

[2018-02-01 17:53] phobologic commented on #527
I think it's important to consider why the loop logger was implemented: we were having a lot of spam on screen even with 50 stacks that weren't getting updated.

That said, I think there are other ways to fix this, while just using a plain logger like we have here.  The biggest being: don't show any messages unless a change is happening.  So if a status would be "skipped" for any reason, we don't

[2018-02-01 23:14] ejholmes commented on #527
That sounds pretty good to me. I think there's a possibility that it could create confusion if we display nothing for skipped stacks by default. In general, most updates maybe touch 1-2 stacks, so (at least on something as big as our stack config), you'd see no output for a while and might feel like stacker is doing nothing.

That may not really be a problem once the graph walk has ben parallelize

[2018-02-02 00:16] phobologic commented on #527
Yeah - I was wondering if that'd lead to confusion too, and was sort of why it wasn't the default behavior before.  Maybe a small "spinny thing" to show that stacker is running?  A modification of this where we can control the animation per tick? https://github.com/harshasrinivas/spinning/

[2018-02-06 01:17] #186 closed

[2018-02-06 01:17] #300 closed

[2018-02-06 01:17] #384 closed

[2018-02-06 02:39] ejholmes commented on #300
This will be fixed in the next release. The `—stacks` flag now builds any required dependencies.

[2018-02-10 02:03] #527 closed

[2018-02-11 23:42] #444 closed

[2018-02-15 01:02] #279 closed

[2018-02-15 01:02] #357 closed

[2018-03-01 01:59] ejholmes opened #546 "AWS parameter type name instead of CFNType"
Right now, if you want to specify a variable as a CloudFormation parameter, you would import the appropriate CFNType, then use that as the type field. For example:

[code]

This works fine, but I think we could make a little simpler and easier to use. If instead, you could do the following:

[code]

And stacker would internally convert it to a `EC2VPCId`. This behavior would be pretty similar to w

[2018-03-01 18:13] danielkza opened #548 "Spurious log message about receiving SIGTERM"
I'm trying out 1.2.0rc2, and right after finishing the execution of the first stack of a multiple-stack config, the logs say:

[code]

But SIGTERM was never actually sent. Afterwards execution of the next stack never starts (as I already had observed in 1.2.0rc1).

[2018-03-01 23:33] ejholmes commented on #548
@danielkza can I assume you were using the `--tail` flag? This will be fixed with https://github.com/remind101/stacker/pull/545

[2018-03-02 00:03] danielkza commented on #548
@ejholmes Yes! I'll test the latest master and report back.

[2018-03-02 01:41] ejholmes commented on #548
Cool. Just released 1.2.0 with the bug fix for this included. Thanks!

[2018-03-02 01:41] #548 closed

[2018-03-05 15:03] ajk8 commented on #515
I use it all the time. It is very nice to see the events as they flow past. My 2c: retry every 5 seconds instead of every 1, and keep the number of retries at 5. I think the 1-second loop is unnecessary, and there's no need to spend your API limits on that.

On a related note, this exception now occurs (as of 1.2.0) when a stack is in a completed teardown state. So, if a stack is skipped because i

[2018-03-13 14:25] danielkza opened #555 "AMI lookup should allow non-regex name filter to avoid slowness"
Looking up all Amazon-owned AMIs takes dozens of seconds for me. Even though I know the exact name of the AMI I want, the `ami` lookup still loads all of them and filters by regex. It should be possible to easily specify a non-regex filter that will passed-through to the API call directly.

[2018-03-14 03:23] ejholmes opened #558 "Functional test suite creates too many stacker buckets in CI"
Each time the functional test suite is ran in CI, it creates a unique stacker bucket for the CI build. Eventually, we rack up a bunch of S3 buckets (about 100 when I checked today, which I already cleaned up). We should change the test suite so that each test either:

1. It uses an explicit `stacker_bucket`. Or..
2. We set `stacker_bucket: ""` to disable creating a bucket.

[2018-03-14 03:39] ejholmes commented on #277
Hey guys. Support for this was recently merged with https://github.com/remind101/stacker/pull/551 and will be coming in 1.3 :).

[2018-03-14 03:39] #277 closed

[2018-03-14 03:42] ejholmes commented on #277
Also, I should note, the exact syntax used in the description of this issue will work, in addition to supporting AWS profiles in https://github.com/remind101/stacker/pull/553.

[2018-03-14 03:42] #263 closed

[2018-03-14 04:43] ejholmes opened #560 "Race condition in CredentialCache"
I saw this happen recently in a stacker config that uses AWS profiles:

[code]

This can only happen when using profiles, since the credential cache is only used for the AssumeRoleProvider.

[2018-03-15 18:07] wrmsr opened #566 "stacker.status.Status.__cmp__ implementation is wrong"
Came across [this](https://github.com/remind101/stacker/blob/db2119270a6d903f5bba6e830b2818769957bc28/stacker/status.py#L7) while adding python3 support and it feels like there could be some subtle fallout. [Per the docs](https://docs.python.org/2/reference/datamodel.html#object.__cmp__) this is supposed to return zero iff the objects are equal, and since ```False == 0``` any Status is equal to an

[2018-03-15 23:50] #560 closed

[2018-03-16 02:08] ejholmes opened #567 "Race condition in s3_stack_push"
I just got this on a stack config using profiles to assume roles:

<details>
<summary>Traceback</summary>

[code]
</details>

<br />

It seems to be caused because `s3_stack_push` is used between threads, and contains mutable global state ([s3_conn](https://github.com/remind101/stacker/blob/28406306c8dd818fb212ff8419ed6f9d1ba6f594/stacker/actions/base.py#L137-L144)).

[2018-03-16 05:14] ejholmes opened #569 "Should interactive mode ask you about creating new stacks?"
The current behavior of `--interactive` is that any new stacks will get created, without any prompt. But this can be potentially dangerous (or at the very least, annoying) if you accidentally make a change, like changing the stack name, resulting in a whole new stack getting created.

Should stacker prompt you before creating a stack when using `--interactive` mode?

[2018-03-16 16:53] russellballestrini commented on #569
My quick reaction is `yes` it should prompt before making any changes including creates.

[2018-03-19 04:54] phobologic commented on #569
I can see it either way.  It definitely was a design decision to have it not bother you about creates (since they were deemed "safe") - only when it was actually making a change to an existing stack.  I'd be fine with changing it though.

[2018-03-20 03:41] #567 closed

[2018-03-21 04:03] #112 closed

[2018-03-23 11:02] gdd1984 opened #574 "ami lookup not working"
Hi,

I tried an AMI lookup but it fails to find the correct ami in the us-east-1 region.

The regex I'm using is as follows:
`AMIID: ${ami owners:137112412989 name_regex:amzn-ami-hvm-\d{4}.\d{1,2}.\d{1,2}.\d{8}-x86_64-gp2}`

It should have returned the following AMI

Name of ami: amzn-ami-hvm-2017.09.1.20180307-x86_64-gp2

[code]

Stack does not deploy cause it cannot find the lookup

[2018-03-26 17:28] phobologic commented on #574
Hey @gdd1984 - thanks for the report.  Can you share a few things:

1. What version of stacker are you using?
2. Did this work before and just break, or is this the first time you've attempted to use it?
3. Can you share the output of running stacker with `--verbose`?

Thanks!

[2018-03-29 00:31] ejholmes opened #577 "Setting stack policy breaks when stack has tags?"
Saw this happen when adding a `tags` section to a stack config:

[code]

[2018-04-06 21:27] justinkillen opened #579 "Template line number reference should be displayed in error output"
In particular, this would be nice when there is a stack dump.

E.g.:
14:13:44 [2018-04-06T14:13:44] stack-name: failed (dictionary update sequence element #4 has length 3; 2 is required)

^ This is a fairly hard thing to track down in the template, even with a stack trace.

[2018-04-10 00:13] austinried opened #580 "Support for CodeUri and AWS::Serverles::*"
I'm new to stacker and trying to set up some tests to see if it's going to work with our setup, but unless I'm missing something it appears that support for the Serverless resource types is missing, specifically support for packaging Lambda functions to an S3 bucket and replacing the CodeUri attribute with the S3 key.  I have found that there is very similar support for the Code attribute in the n

[2018-04-10 00:46] austinried commented on #580
Ah actually I've just realized I can use the returned `Code` object to build the S3 `CodeUri` myself:

[code]

So that seems to get the job done, would be nice if there were some sort of official support though.

[2018-04-11 01:03] ejholmes opened #581 "Add a safety check on stack ARN when building"
Support for specifying a `stack_name` separate from `name` was added in https://github.com/remind101/stacker/pull/551 to support stacks with the same name, but in different regions/accounts, however, this introduces the possibility for two nodes in the graph to operate on the same stack.

I think it'd be wise to add an extra layer of safety so that stacker will error out if two nodes in the graph

[2018-04-11 01:05] ejholmes opened #582 "Add config options for default region/profile"
You can provide this with `--region` or `--profile`, or using `AWS_REGION/AWS_PROFILE`, but I think it'd also be good to support these options in the stacker config file.

[2018-04-11 05:00] ejholmes commented on #581
That won't actually work, since it's entirely valid to have multiple stacks in a stacker config using the same `stack_name` (e.g. they could be stacks in different regions, or stacks in different accounts, etc). Trying to validate this in the config would be prone to a lot of issues.

What shouldn't be valid, is multiple nodes in the graph operating on the same stack ARN. I think the only way to r

[2018-04-11 16:05] acmcelwee opened #583 "Support more flexible interactive builds"
I started this discussion in the `empire/#stacker` slack channel yesterday, and it sounds like multiple teams have thought about various ways to allow for interactive builds, w/ stacker running somewhere other than on a privileged-IAM user's machine.

**Reasons why people are still running interactive builds from their machine for critical stacks**
* Need fine-grained visibility into the CFN resou

[2018-04-11 21:42] acmcelwee commented on #583
The first idea of changesets->lambda and polling for changes to a changeset seems like it provides both of the stated needs of fine-grained visibility and security.

It looks like all of the necessary hooks are in place to override the approval prompt and waiting behavior, so it would probably just be a matter of defining the expected payload to send to the lambda. I'd imagine some sort of context

[2018-04-11 21:45] acmcelwee commented on #569
I'd vote yes, but now that starts to complicate #583, since the new stacks won't have a changeset.

[2018-04-11 21:46] acmcelwee commented on #583
On second thought, https://github.com/remind101/stacker/issues/569#issuecomment-380605715, we need prompt handling for other things that won't have a changeset, like prompting before delete-before-recreate and possibly prompting before creating new stacks.

[2018-04-11 23:49] ejholmes commented on #583
I think I would be in favor of the more generic "plugin" system; basically just making `stacker.ui` overridable. I think it'd be hard for stacker to support every CD workflow that people want, so just giving them the flexibility to do it however they see fit might be best.

It may also be worth pointing out that another way to do this is just use a little unix/bash magic and redirect STDOUT/STDIN

[2018-04-12 16:41] russellballestrini commented on #581
I wonder if we made a hash of `stack_name` (or `name` if missing) + region and used that to validate.

I think I would prefer this because we can validate the graph without having to go on the network to get stack ARNs.

[2018-04-21 00:48] ejholmes commented on #577
Fixed in #588.

[2018-04-21 00:48] #577 closed

[2018-04-25 22:34] #566 closed

[2018-05-03 14:47] danielsulbaran opened #590 "Allow namespace to be suffix vs prefix?"
Apologies if I'm missing this from somewhere, but is this possible currently?
A lot of my current logic revolves around using suffix as stages/environments and I'm wondering if this is a blocker.

Thanks!

[2018-05-03 23:41] ejholmes commented on #590
@danielsulbaran `namespace` is optional, so you can just set it to `namespace: ""` and name stacks however you want.

[2018-05-03 23:41] #590 closed

[2018-05-06 22:51] aarongorka opened #593 "Raw templates do not use existing parameters"
When diffing/building with a raw template, existing parameters/variables do not get used.

[code]

In this case the `my-app` stack is already deployed with the parameter `MyParameter` as `NoEcho`. Ideally, It would be nice if Stacker could understand that the parameter is already set and can be reused with the `UsePreviousValue` setting when building (http://boto3.readthedocs.io/en/latest/referenc

[2018-05-07 23:56] ejholmes commented on #593
@aarongorka can you provide a stack template that reproduces the issue?

I have a feeling the source the problem is related to NoEcho and this line:
https://github.com/remind101/stacker/blob/dad8cd8625a984bf71ee0fcab7df91d5b29ace0f/stacker/actions/build.py#L136-L137

That should probably be using `UsePreviousValue` instead of `ParameterValue`: https://docs.aws.amazon.com/AWSCloudFormation/latest/A

[2018-05-09 10:31] aarongorka commented on #593
template.yml:
[code]

stacker.yml:
[code]

You can test by deploying as-is, then try to update after commenting out one or more of the variables.

The error occurs with both normal parameters and NoEcho parameters.

Is stacker/stacker/actions/build.py the right place to contain this logic if both build and diff require it? The exception is currently being raised in `resolve_variable` which happens

[2018-05-14 21:15] jeshan commented on #291
Another example of issue:
[code]

2012-10-17 is interpreted as a python datetime. it should be interpreted as string. Quoting the 2012-10-17 works.

[code]

[2018-05-15 22:32] jamietsao opened #598 "TypeError: Got unexpected keyword argument 'retries'"
We recently tried upgrading stacker and got an error:
[code]

We were on version 1.0.4 previous and tried upgrading to 1.2.* (I initially tried going to 1.3.* but got the same error and narrowed it down to the 1.2.* upgrade).

I haven't changed anything else (e.g. blueprints, stack config, etc.) so it's very possible that it's a backwards compatibility issue.  It's just hard to debug since the err

[2018-05-16 00:35] jamietsao commented on #598
@ejholmes - Thank you.  That worked but now I'm getting a new error:
```[2018-05-15T17:30:45] ERROR bot-service stacker.plan:91(_run_once): Couldn't resolve lookups in variable `Cluster`. 'NoneType' object has no attribute '__getitem__'
Traceback (most recent call last):
  File "/Users/jamie/.pyenv/versions/2.7.11/lib/python2.7/site-packages/stacker/plan.py", line 89, in _run_once
    status = sel

[2018-05-16 00:39] jamietsao commented on #598
Interestingly, if I run the `build` command for the exact same stack, it runs fine and completes with no change (expected because I didn't modify the stack):
[code]

[2018-05-17 00:14] ejholmes commented on #598
I think the diff exception is probably a legitimate bug, but glad to know that upgrading boto3 fixed the original problem.

[2018-05-17 06:04] jamietsao commented on #598
@ejholmes -  I'll update the title of this issue to reflect the current issue.  Thanks!

[2018-05-18 03:58] marcusjv-po opened #599 "Way to get current region in blueprint class"
Looking over the source code, I'm trying to see if there's a way to get the current AWS region the stack is being created in within a blueprint Class; i.e. 'self.region' or 'self.context.region'.

This could be useful in determining the AZs available in the region of execution, which would impact how I create subnets, etc in my VPC blueprint.

Thoughts?

[2018-05-18 23:07] ejholmes commented on #599
@marcusjv-po generally, the best and most reliable way to do this is to use `Ref("AWS::Region")`. Something like `self.context.region` won't be reliable if you're using AWS profiles.

[2018-05-18 23:10] russellballestrini commented on #599
You may also use `from troposphere import Region`

[2018-05-18 23:37] marcusjv-po commented on #599
Thanks guys, but I think you're missing the point, so perhaps I'm not being super clear...  I would like to know which region the current stack is executing in, PRIOR to building stacks, so that the Blueprint I call can determine in advance the AZs available to it.

The current VPC blueprint provided by stacker_blueprints locks H/A and subnet provisioning (i.e., the total amount of subnets created

[2018-05-19 00:06] ejholmes commented on #599
Short answer is, you can't. At least not very easily. CloudFormation exposes the [GetAZs intrinsic function](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-getavailabilityzones.html) but you can't really use this in a CloudFormation template to dynamically create multiple subnets.

If you really want to do this, you would need to resolve AZ's per region

[2018-05-19 00:26] marcusjv-po commented on #599
My idea was to do something like this (within a VPC blueprint):

`
class blah(Blueprint):
    def foobar(self):
        vars = self.get_variables()
        ec2 = boto3.client('ec2', region_name=self.context.region)
        azs = ec2.describe_availability_zones()['AvailabilityZones']
        desired_ha = vars.get('AZCount')
        if desired_ha > azs:
            bail
`
etc.

I get that GetAZs wil

[2018-05-19 00:32] russellballestrini commented on #599
@marcusjv-po I think @phobologic is working on a version for the `stacker_blueprints` repo.

@phobologic do you have an update on that?

[2018-05-22 03:28] phobologic commented on #599
@marcusjv-po @russellballestrini should have it done tonight/tomorrow, I'm working on it right now actually :)

[2018-05-23 21:58] phobologic commented on #599
Ok, @russellballestrini @marcusjv-po - https://github.com/cloudtools/stacker_blueprints/pull/2

I think I like the interface well enough, but not 100% sure on it.  Would love comments.  Basically you'd create a stack per subnet.  While this means extra stacks, it gives you a bit more control, and makes things a little more explicit.

Anyway, let me know what you think!

[2018-05-24 13:59] russellballestrini commented on #599
This looks solid to me! Would you mind putting in a doc string with some example YAML to show to use this to create a couple subnets (2 public/2 private) or maybe even paired with `vpc.Vpc2`?

That or maybe a separate example doc is in order.

[2018-05-24 16:59] phobologic commented on #599
Added an example in the https://github.com/cloudtools/stacker_blueprints/tree/master/conf/example_vpc directory.

[2018-05-24 17:01] phobologic commented on #599
@marcusjv-po is there anything left in this issue that you feel needs to be resolved?  Or can we close it?  Thanks!

[2018-05-24 19:30] marcusjv-po commented on #599
@phobologic Thanks very much for the new vpc and network blueprints; I'll have a look at incorporating them into my provisioning strategy.  Everything LGTM.

[2018-05-24 19:31] phobologic commented on #599
Cool - I'm going to go ahead and close this.  If you think it needs to remain open, please feel free to re-open it @marcusjv-po!

[2018-05-24 19:31] #599 closed

[2018-05-26 23:05] phobologic commented on #580
Hey @austinried - thanks for the issue, and sorry for not responding sooner.  Glad you found the work-around you mentioned.  It would take some work, but I could imagine extending the hook_data so that it contained both the Code object, as well as the S3 URI.  It's a little strange because we made the current return only the Code object, rather than a dictionary containing the Code object (which w

[2018-05-26 23:07] phobologic commented on #579
Thanks for the issue @justinkillen - sorry for the delay in response. Is this when using a blueprint or a template?  Do you have an example of a stack config/blueprint that would return this error?  I'm not certain where this error is coming from.  Thanks!

[2018-05-26 23:08] phobologic commented on #574
Ping @gdd1984

[2018-05-27 03:10] justinkillen commented on #579
Typically, I see this when referencing a variable in the template yaml that has a typo, e.g. a security group defined in an environment file.  That situation produces a stack dump, but doesn’t indicate where in the yaml the actual problem is.  Aside from this specific cause, in general it would be nice for any kind of per-line parsing / variable replacement / etc include the line number that was b

[2018-05-27 17:49] phobologic commented on #579
I'm not sure I follow - which template yaml are you referring to?

Sorry, the reason I want to dig into this particular issue is because without being able to easily reproduce this, I'm not certain where the issue might be.  If you could give me an example config, that'd be awesome.

[2018-05-27 21:42] phobologic commented on #509
Sorry @colwilson , this is obviously crazy late, but you should define the namespace in the config file, and then you should be able to define the variable in the environment file.  It should work just as well with `-e` though, I'm going to dig into that more now.

[2018-05-27 21:49] phobologic commented on #509
Ok, using a namespace defined in an environment file works without any errors:

[code]

[2018-05-27 21:50] phobologic commented on #509
Commenting out the namespace in the environment file, then using `-e` seems to work as well:

[code]

[2018-05-27 21:50] phobologic commented on #509
Note - this is all with:

[code]

[2018-05-27 21:51] phobologic commented on #509
This may have been an issue with 1.1.0, but  I can't repeat in 1.3.  Going to go ahead and close.

[2018-05-27 21:51] #509 closed

[2018-05-27 21:52] phobologic commented on #515
@ajk8 can you give 1.3 a try and let me know if you see the same issue?  A lot of changes have been made around this code, so hopefully you won't be running into the issue as much any longer.

[2018-05-27 21:53] #514 closed

[2018-05-27 21:55] phobologic commented on #482
Haven't heard back, going to go ahead and close this issue.  Please re-open if still interested!

[2018-05-27 21:55] #482 closed

[2018-05-27 22:07] phobologic commented on #457
Ok, with these two blueprints:

[code]

And using this config & env:

[code]

If I switch the class_path from Dummy2 to Dummy1 without providing the `Name` variable, I now get this error, which seems correct:

[code]

Going to close this - if this doesn't seem right, go ahead and re-open it @ejholmes

[2018-05-27 22:07] #457 closed

[2018-05-28 01:32] danielkza commented on #580
@phobologic At the time I didn't consider more information could be added, as Serverless was not supported in Cloudformation. Returning a custom subclass of `Code` seems like a fine solution for now, but it might be a good idea to add a deprecation notice, and eventually move to something more flexible like a `dict` (containing both the `Code` and any other relevant attributes).

[2018-05-28 01:50] danielkza opened #602 "Investigate support for deleting stacks that have been removed from configuration"
Adding a stack to a config file, deploying it, then removing it will currently leave it "orphaned" if you forget to run `stacker destroy` beforehand. It can, of course, be manually deleted using the AWS Console, but it's easy to miss it when you have hundreds of stacks.

It would be nice to have some way to enforce that a config contains all the stacks that represent one service. It would pair nic

[2018-05-28 16:32] brettswift commented on #602
I'm just getting familiar with stacker in the last week.  I could see something like a `stacker cleanup` command or `stacker build --no-cleanup` and make cleanup  the default behaviour.  (I kind of thought it might do that already).

One of the main reasons I'm experimenting with stacker is because I don't like nested stacks.  Just my 2 cents, but it seems like stacker was built as an alternative

[2018-05-28 16:51] brettswift opened #603 "Variables & User Experience"
I'm brand new here and evaluating stacker.  I love a lot of things already.

I have one behaviour I can't seem to grasp the intent of.

I get that the `stack.yaml`  has variable definitions - and those map into the stacker classes `VARIABLES` dictionary.
I also get that environment variables or cli overrides can replace template variables, similar to templating behaviour.

Question:

What is the c

[2018-05-28 17:27] phobologic commented on #603
Hey @brettswift, thanks for checking out stacker and submitting this issue.  I think I may be misunderstanding your intent, so let me know if this doesn't fit - basically, if you do not provide a default value for a variable, it is then required that it be defined in the stacker config.

If you want to provide a stacker config that shows what variables should be defined, I think the best bet is to

[2018-05-28 18:10] brettswift commented on #603
Perfect, thank you.  I missed the anchor notation in the stack definition file.

I also made some assumptions that you could override anything by just using an environment file, but without the  `${}` notation the environment override will not be put into the stack.  Stacker is silent in that it doesn't warn / error when there's a param in the environment file that isn't going to have any effect.

[2018-05-28 18:11] #603 closed

[2018-05-28 18:17] phobologic commented on #603
This is actually something of a feature.  It lets you have anchor'd dictionaries that you can pass around to any stack, and not have to worry about whether or not they use the entire dictionary.  That said, it can cause some annoying issues when it comes to typos in variable names, but usually those are fairly easy to find - it only becomes a problem when defaults are available.

It's a toss up be